wf_followup_fixed3.json
{"updatedAt": "2026-03-01T10:40:27.538Z", "createdAt": "2026-02-24T00:33:36.012Z", "id": "vXuukUMRaSlsTqbm", "name": "SP3 - Motor de Follow-up (Auto)", "description": null, "active": true, "isArchived": false, "nodes": [{"id": "trigger-id", "name": "A cada 1 minuto", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1, "position": [100, 300], "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 1}]}}}, {"id": "load-settings-id", "name": "Load Settings", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [250, 100], "parameters": {"operation": "getAll", "tableId": "sp3_followup_settings", "limit": 1}, "credentials": {"supabaseApi": {"id": "DsTq5kkfhqj2VdXo", "name": "SP3CHAT"}}}, {"id": "fetch-leads-id", "name": "Buscar Leads Silenciosos", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [320, 300], "parameters": {"operation": "executeQuery", "query": "\nSELECT s.*,\n       COALESCE(i.evo_api_url, 'https://evo.sp3company.shop') as evo_api_url,\n       COALESCE(i.instance_name, 'v1') as instance_name,\n       cfg.msg_1, cfg.msg_2, cfg.msg_3\nFROM sp3chat s\nLEFT JOIN sp3_instances i ON i.company_id = s.company_id AND i.is_active = true\nLEFT JOIN sp3_followup_settings cfg ON cfg.company_id = s.company_id\nWHERE s.ia_active = true \n  AND (s.followup_locked IS NOT TRUE)\n  AND (\n    cfg.id IS NULL OR (\n      EXISTS (\n        SELECT 1 FROM jsonb_array_elements_text(cfg.active_days::jsonb) AS day\n        WHERE day::integer = EXTRACT(DOW FROM (NOW() AT TIME ZONE 'America/Sao_Paulo'))::integer\n      )\n      AND (NOW() AT TIME ZONE 'America/Sao_Paulo')::time BETWEEN cfg.start_time::time AND cfg.end_time::time\n    )\n  )\n  AND (s.last_inbound_at IS NULL OR (s.last_outbound_at IS NOT NULL AND s.last_inbound_at < s.last_outbound_at))\n  AND (\n    (COALESCE(s.followup_stage, 0) = 0 AND (s.last_outbound_at IS NULL OR s.last_outbound_at < NOW() - (COALESCE(cfg.interval_1, 30) || ' minutes')::interval)) OR \n    (COALESCE(s.followup_stage, 0) = 1 AND s.last_outbound_at < NOW() - (COALESCE(cfg.interval_2, 60) || ' minutes')::interval) OR\n    (COALESCE(s.followup_stage, 0) = 2 AND s.last_outbound_at < NOW() - (COALESCE(cfg.interval_3, 120) || ' minutes')::interval)\n  )\nORDER BY s.last_outbound_at ASC NULLS FIRST\nLIMIT 10;\n", "options": {}}, "credentials": {"postgres": {"id": "Q9Iztik7LneSMpvU", "name": "SP3 CHAT - SUPABASE"}}}, {"id": "code-decision-id", "name": "Decidir Mensagem", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [600, 300], "parameters": {"jsCode": "\n// Filtrar items vazios (Postgres retorna {success:true} sem dados reais)\nconst validItems = items.filter(item => {\n  const t = item.json.telefone;\n  return t && String(t).trim().length > 0;\n});\n\n// Se nao ha leads validos, retornar item sinalizador para parar o fluxo\nif (validItems.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nconst results = [];\nfor (const inputItem of validItems) {\n  const item = inputItem.json;\n  const stage = parseInt(item.followup_stage || 0);\n  const telefone = String(item.telefone).replace(/\\D/g, '');\n  if (!telefone) continue;\n\n  const msg1 = item.msg_1 || 'Oi! Passando para ver se conseguiu ler minha ultima mensagem? \\ud83d\\udc40';\n  const msg2 = item.msg_2 || 'Ainda por ai? Se preferir, podemos marcar um papo rapido para eu tirar suas duvidas! \\ud83d\\udcf2';\n  const msg3 = item.msg_3 || 'Vi que as coisas devem estar corridas! Vou deixar nosso link de agenda aqui para quando voce puder. \\ud83e\\udd1d';\n\n  let mensagem = '';\n  let next_stage = 1;\n\n  if (stage === 0) { mensagem = msg1; next_stage = 1; }\n  else if (stage === 1) { mensagem = msg2; next_stage = 2; }\n  else { mensagem = msg3; next_stage = 3; }\n\n  results.push({\n    json: {\n      ...item,\n      telefone,\n      mensagem,\n      next_stage,\n      evo_api_url: item.evo_api_url || 'https://evo.sp3company.shop',\n      instance_name: item.instance_name || 'v1'\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];\n"}}, {"id": "send-msg-id", "name": "Enviar Follow-up", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [850, 300], "parameters": {"method": "POST", "url": "={{ $json.evo_api_url }}/message/sendText/{{ $json.instance_name }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "bodyParameters": {"parameters": [{"name": "number", "value": "={{ $json.telefone }}"}, {"name": "text", "value": "={{ $json.mensagem }}"}, {"name": "delay", "value": "={{ Math.min(5000, Math.max(1500, ($json.mensagem || '').length * 40)) }}"}]}, "options": {}}, "credentials": {"httpHeaderAuth": {"id": "lm3lTu0WoowRIHHa", "name": "SP3CHAT - EVOLUTION API"}}}, {"id": "update-db-id", "name": "Atualizar Kanban", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [1100, 300], "parameters": {"operation": "executeQuery", "query": "=UPDATE sp3chat SET followup_stage = {{ $node[\"Decidir Mensagem\"].json.next_stage }}, last_outbound_at = NOW() WHERE telefone = '{{ $node[\"Decidir Mensagem\"].json.telefone }}' AND company_id = '{{ $node[\"Decidir Mensagem\"].json.company_id }}'", "options": {}}, "credentials": {"postgres": {"id": "Q9Iztik7LneSMpvU", "name": "SP3 CHAT - SUPABASE"}}}, {"id": "gravar-historico-id", "name": "Gravar no Hist贸rico", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [1350, 300], "parameters": {"operation": "executeQuery", "query": "=INSERT INTO n8n_chat_histories (session_id, message, company_id) VALUES ('{{ $node[\"Decidir Mensagem\"].json.telefone }}', '{{ JSON.stringify({type: \"ai\", messages: [{text: $node[\"Decidir Mensagem\"].json.mensagem}]}) }}', '{{ $node[\"Decidir Mensagem\"].json.company_id }}')", "options": {}}, "credentials": {"postgres": {"id": "Q9Iztik7LneSMpvU", "name": "SP3 CHAT - SUPABASE"}}}, {"id": "filtro-lead-valido", "name": "Lead Valido?", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [725, 300], "parameters": {"jsCode": "// Filter out _skip items and items without telefone\nconst valid = items.filter(item => {\n  if (item.json._skip) return false;\n  if (!item.json.telefone || String(item.json.telefone).trim().length === 0) return false;\n  if (!item.json.mensagem) return false;\n  return true;\n});\n\nif (valid.length === 0) {\n  // Return empty to stop the flow\n  return [];\n}\n\nreturn valid;"}, "onError": "continueRegularOutput"}], "connections": {"A cada 1 minuto": {"main": [[{"node": "Load Settings", "type": "main", "index": 0}]]}, "Load Settings": {"main": [[{"node": "Buscar Leads Silenciosos", "type": "main", "index": 0}]]}, "Buscar Leads Silenciosos": {"main": [[{"node": "Decidir Mensagem", "type": "main", "index": 0}]]}, "Enviar Follow-up": {"main": [[{"node": "Atualizar Kanban", "type": "main", "index": 0}]]}, "Atualizar Kanban": {"main": [[{"node": "Gravar no Hist贸rico", "type": "main", "index": 0}]]}, "Decidir Mensagem": {"main": [[{"node": "Lead Valido?", "type": "main", "index": 0}]]}, "Lead Valido?": {"main": [[{"node": "Enviar Follow-up", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "staticData": {"node:A cada 1 minuto": {"recurrenceRules": []}}, "meta": null, "pinData": {"A cada 1 minuto": [{"json": {"timestamp": "2026-02-24T00:57:38.006-03:00", "Readable date": "February 24th 2026, 12:57:38 am", "Readable time": "12:57:38 am", "Day of week": "Tuesday", "Year": "2026", "Month": "February", "Day of month": "24", "Hour": "00", "Minute": "57", "Second": "38", "Timezone": "America/Sao_Paulo (UTC-03:00)"}, "pairedItem": {"item": 0}}]}, "versionId": "061d8af4-c56b-4fb4-bc5f-35d3f6909a57", "activeVersionId": "061d8af4-c56b-4fb4-bc5f-35d3f6909a57", "versionCounter": 114, "triggerCount": 1, "shared": [{"updatedAt": "2026-02-24T00:33:36.012Z", "createdAt": "2026-02-24T00:33:36.012Z", "role": "workflow:owner", "workflowId": "vXuukUMRaSlsTqbm", "projectId": "Leixpj9thQB5I2IJ", "project": {"updatedAt": "2025-07-05T20:03:31.230Z", "createdAt": "2025-07-05T20:00:52.246Z", "id": "Leixpj9thQB5I2IJ", "name": "Juan Lourenco <juanlourencosantos@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "a3fb51d9-8cda-45ed-bf45-38e29676ee11"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-01T10:40:27.539Z", "createdAt": "2026-03-01T10:40:27.539Z", "versionId": "061d8af4-c56b-4fb4-bc5f-35d3f6909a57", "workflowId": "vXuukUMRaSlsTqbm", "nodes": [{"id": "trigger-id", "name": "A cada 1 minuto", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1, "position": [100, 300], "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 1}]}}}, {"id": "load-settings-id", "name": "Load Settings", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [250, 100], "parameters": {"operation": "getAll", "tableId": "sp3_followup_settings", "limit": 1}, "credentials": {"supabaseApi": {"id": "DsTq5kkfhqj2VdXo", "name": "SP3CHAT"}}}, {"id": "fetch-leads-id", "name": "Buscar Leads Silenciosos", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [320, 300], "parameters": {"operation": "executeQuery", "query": "\nSELECT s.*,\n       COALESCE(i.evo_api_url, 'https://evo.sp3company.shop') as evo_api_url,\n       COALESCE(i.instance_name, 'v1') as instance_name,\n       cfg.msg_1, cfg.msg_2, cfg.msg_3\nFROM sp3chat s\nLEFT JOIN sp3_instances i ON i.company_id = s.company_id AND i.is_active = true\nLEFT JOIN sp3_followup_settings cfg ON cfg.company_id = s.company_id\nWHERE s.ia_active = true \n  AND (s.followup_locked IS NOT TRUE)\n  AND (\n    cfg.id IS NULL OR (\n      EXISTS (\n        SELECT 1 FROM jsonb_array_elements_text(cfg.active_days::jsonb) AS day\n        WHERE day::integer = EXTRACT(DOW FROM (NOW() AT TIME ZONE 'America/Sao_Paulo'))::integer\n      )\n      AND (NOW() AT TIME ZONE 'America/Sao_Paulo')::time BETWEEN cfg.start_time::time AND cfg.end_time::time\n    )\n  )\n  AND (s.last_inbound_at IS NULL OR (s.last_outbound_at IS NOT NULL AND s.last_inbound_at < s.last_outbound_at))\n  AND (\n    (COALESCE(s.followup_stage, 0) = 0 AND (s.last_outbound_at IS NULL OR s.last_outbound_at < NOW() - (COALESCE(cfg.interval_1, 30) || ' minutes')::interval)) OR \n    (COALESCE(s.followup_stage, 0) = 1 AND s.last_outbound_at < NOW() - (COALESCE(cfg.interval_2, 60) || ' minutes')::interval) OR\n    (COALESCE(s.followup_stage, 0) = 2 AND s.last_outbound_at < NOW() - (COALESCE(cfg.interval_3, 120) || ' minutes')::interval)\n  )\nORDER BY s.last_outbound_at ASC NULLS FIRST\nLIMIT 10;\n", "options": {}}, "credentials": {"postgres": {"id": "Q9Iztik7LneSMpvU", "name": "SP3 CHAT - SUPABASE"}}}, {"id": "code-decision-id", "name": "Decidir Mensagem", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [600, 300], "parameters": {"jsCode": "\n// Filtrar items vazios (Postgres retorna {success:true} sem dados reais)\nconst validItems = items.filter(item => {\n  const t = item.json.telefone;\n  return t && String(t).trim().length > 0;\n});\n\n// Se nao ha leads validos, retornar item sinalizador para parar o fluxo\nif (validItems.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nconst results = [];\nfor (const inputItem of validItems) {\n  const item = inputItem.json;\n  const stage = parseInt(item.followup_stage || 0);\n  const telefone = String(item.telefone).replace(/\\D/g, '');\n  if (!telefone) continue;\n\n  const msg1 = item.msg_1 || 'Oi! Passando para ver se conseguiu ler minha ultima mensagem? \\ud83d\\udc40';\n  const msg2 = item.msg_2 || 'Ainda por ai? Se preferir, podemos marcar um papo rapido para eu tirar suas duvidas! \\ud83d\\udcf2';\n  const msg3 = item.msg_3 || 'Vi que as coisas devem estar corridas! Vou deixar nosso link de agenda aqui para quando voce puder. \\ud83e\\udd1d';\n\n  let mensagem = '';\n  let next_stage = 1;\n\n  if (stage === 0) { mensagem = msg1; next_stage = 1; }\n  else if (stage === 1) { mensagem = msg2; next_stage = 2; }\n  else { mensagem = msg3; next_stage = 3; }\n\n  results.push({\n    json: {\n      ...item,\n      telefone,\n      mensagem,\n      next_stage,\n      evo_api_url: item.evo_api_url || 'https://evo.sp3company.shop',\n      instance_name: item.instance_name || 'v1'\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];\n"}}, {"id": "send-msg-id", "name": "Enviar Follow-up", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [850, 300], "parameters": {"method": "POST", "url": "={{ $json.evo_api_url }}/message/sendText/{{ $json.instance_name }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "bodyParameters": {"parameters": [{"name": "number", "value": "={{ $json.telefone }}"}, {"name": "text", "value": "={{ $json.mensagem }}"}, {"name": "delay", "value": "={{ Math.min(5000, Math.max(1500, ($json.mensagem || '').length * 40)) }}"}]}, "options": {}}, "credentials": {"httpHeaderAuth": {"id": "lm3lTu0WoowRIHHa", "name": "SP3CHAT - EVOLUTION API"}}}, {"id": "update-db-id", "name": "Atualizar Kanban", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [1100, 300], "parameters": {"operation": "executeQuery", "query": "=UPDATE sp3chat SET followup_stage = {{ $node[\"Decidir Mensagem\"].json.next_stage }}, last_outbound_at = NOW() WHERE telefone = '{{ $node[\"Decidir Mensagem\"].json.telefone }}' AND company_id = '{{ $node[\"Decidir Mensagem\"].json.company_id }}'", "options": {}}, "credentials": {"postgres": {"id": "Q9Iztik7LneSMpvU", "name": "SP3 CHAT - SUPABASE"}}}, {"id": "gravar-historico-id", "name": "Gravar no Hist贸rico", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [1350, 300], "parameters": {"operation": "executeQuery", "query": "=INSERT INTO n8n_chat_histories (session_id, message, company_id) VALUES ('{{ $node[\"Decidir Mensagem\"].json.telefone }}', '{{ JSON.stringify({type: \"ai\", messages: [{text: $node[\"Decidir Mensagem\"].json.mensagem}]}) }}', '{{ $node[\"Decidir Mensagem\"].json.company_id }}')", "options": {}}, "credentials": {"postgres": {"id": "Q9Iztik7LneSMpvU", "name": "SP3 CHAT - SUPABASE"}}}, {"id": "filtro-lead-valido", "name": "Lead Valido?", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [725, 300], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": ""}, "conditions": [{"id": "cond-tel", "leftValue": "={{ $json.telefone }}", "rightValue": "", "operator": {"type": "string", "operation": "isNotEmpty"}}], "combinator": "and"}}}], "connections": {"A cada 1 minuto": {"main": [[{"node": "Load Settings", "type": "main", "index": 0}]]}, "Load Settings": {"main": [[{"node": "Buscar Leads Silenciosos", "type": "main", "index": 0}]]}, "Buscar Leads Silenciosos": {"main": [[{"node": "Decidir Mensagem", "type": "main", "index": 0}]]}, "Enviar Follow-up": {"main": [[{"node": "Atualizar Kanban", "type": "main", "index": 0}]]}, "Atualizar Kanban": {"main": [[{"node": "Gravar no Hist贸rico", "type": "main", "index": 0}]]}, "Decidir Mensagem": {"main": [[{"node": "Lead Valido?", "type": "main", "index": 0}]]}, "Lead Valido?": {"main": [[{"node": "Enviar Follow-up", "type": "main", "index": 0}]]}}, "authors": "Juan Lourenco", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-01T10:40:27.748Z", "id": 534, "workflowId": "vXuukUMRaSlsTqbm", "versionId": "061d8af4-c56b-4fb4-bc5f-35d3f6909a57", "event": "deactivated", "userId": "a3fb51d9-8cda-45ed-bf45-38e29676ee11"}, {"createdAt": "2026-03-01T10:40:27.830Z", "id": 535, "workflowId": "vXuukUMRaSlsTqbm", "versionId": "061d8af4-c56b-4fb4-bc5f-35d3f6909a57", "event": "activated", "userId": "a3fb51d9-8cda-45ed-bf45-38e29676ee11"}]}}