Saude/wf_current3.json
{"updatedAt":"2026-03-01T12:40:56.358Z","createdAt":"2026-02-21T21:43:55.433Z","id":"aFNGsz4pDkLMYP5m","name":"SP3CHAT","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sp3chat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,1088],"id":"777b4206-d0dd-434e-855e-32785d3dc441","name":"Gatilho","webhookId":"6f576fa3-a6da-4fa0-8555-fd7386432ba8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c667b354-f7e3-4a99-bce8-17f4dee0d49f","leftValue":"={{ $('Gatilho').first().json.body.data.key.fromMe }}","rightValue":"=0","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"9554a99c-a9f4-45dd-9570-37eeac814721","leftValue":"={{$json.body.data.message}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-576,1808],"id":"6bb31170-1ac1-4e5f-8f1c-ab642691c0f1","name":"Filtro de Bloqueio","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"20eb4e1b-36d3-41d1-b43f-f50b4e89342c","name":"Nome","value":"={{ $('Gatilho').first().json.body.data.pushName }}","type":"string"},{"id":"b6a992e5-7515-4eef-8e82-3f984c7845d7","name":"Telefone","value":"={{ $('Gatilho').first().json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,1120],"id":"31fea5ed-46fc-449a-bc63-3046be82cbdf","name":"Dados Lead"},{"parameters":{"operation":"get","tableId":"sp3chat","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados Lead').first().json.Telefone }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3680,1040],"id":"cd89a942-17ca-4b80-8010-d18db69dc287","name":"Encontrar Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"9d546d7c-fc7f-4ce0-a443-34475e3cc41f","leftValue":"={{ $('Encontrar Cliente').first().json.id }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3904,1040],"id":"e5ff1feb-bb0c-4fd3-bd2d-79dc3dbdc863","name":"Cliente existe?","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"tableId":"sp3chat","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').first().json.Nome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').first().json.Telefone }}"},{"fieldId":"last_inbound_at","fieldValue":"={{ $now }}"},{"fieldId":"last_outbound_at","fieldValue":"={{ $now }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4128,1168],"id":"ba2c8997-6c05-4ed1-b750-ebbed71ea539","name":"Criar Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4336,1040],"id":"42c6e5d8-ec79-417c-86c8-723a529e9e5f","name":"Merge","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":"={{ $('Parametros do Fluxo').first().json.ModeloTemperatura }}"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4576,1216],"id":"ab31cfd7-cd0c-4f8b-af79-f0199585c685","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem').first().json.mensagens }}","options":{"systemMessage":"={{ \n\"## ⚠️ REGRAS DE RAPPORT — PRIORIDADE MÁXIMA\\n\\nEstas regras têm PRIORIDADE ABSOLUTA sobre qualquer outra instrução do roteiro abaixo:\\n\\n### REGRA 1: NUNCA PERGUNTE ALGO QUE O LEAD JÁ DISSE\\nAntes de fazer QUALQUER pergunta, verifique se essa informação já foi dita na conversa atual.\\n- Se o lead disse o nome → NÃO peça o nome. Use o nome que ele deu.\\n- Se o lead disse a área → NÃO pergunte a área.\\n- Se o lead mencionou qualquer dado → USE, não peça novamente.\\n\\n❌ EXEMPLO ERRADO:\\nLead: 'Me chamo João'\\nSarah: 'Que ótimo! Me conta, qual seu nome e com o que você trabalha?' ← ERRADO, já sabe o nome!\\n\\n✅ EXEMPLO CERTO:\\nLead: 'Me chamo João'\\nSarah: 'Prazer, João! Com o que você trabalha?' ← USA o nome, não pede de novo.\\n\\n### REGRA 2: RESPONDA PERGUNTAS DO LEAD PRIMEIRO\\nSe o lead te fizer qualquer pergunta ou comentário pessoal (ex: 'e contigo?', 'tudo bem?', 'você é feliz?'), responda PRIMEIRO com empatia e naturalidade, e SÓ DEPOIS faça sua próxima pergunta.\\n\\n❌ EXEMPLO ERRADO:\\nLead: 'Tudo bem sim! e contigo?'\\nSarah: 'Me conta, qual seu nome...' ← ERRADO, ignorou a pergunta do lead!\\n\\n✅ EXEMPLO CERTO:\\nLead: 'Tudo bem sim! e contigo?'\\nSarah: 'Muito bem também, obrigada! 😊 Me conta, qual seu nome?' ← Respondeu E avançou.\\n\\n### REGRA 3: TRATE MÚLTIPLAS MENSAGENS COMO UMA ÚNICA FALA\\nO lead pode enviar várias mensagens em sequência sobre assuntos diferentes. Leia TODAS as mensagens recebidas antes de responder e trate como uma única fala coerente. Não ignore nenhuma parte.\\n\\n### REGRA 4: CONTEXTO > ROTEIRO\\nO fluxo de conversa é um GUIA, não um roteiro rígido. Se o lead já deu uma informação em qualquer ponto da conversa, PULE essa etapa e avance naturalmente para a próxima informação ainda não coletada.\\n\\n---\\n\\n\" + $('Buscar Prompt IA').first().json.content + \"\\n\\n# Regra audio: NUNCA comente ou corrija transcricoes de audio. Responda naturalmente ao tema sem dizer coisas como Acho que voce quis dizer ou similar.\\n\\n## Videos de Prova Social\\nVoce tem acesso a videos de depoimentos reais de clientes satisfeitos. Use a ferramenta enviar_video_prova_social passando o video_id quando sentir que e o momento certo (lead hesitante, pediu referencias, esta na fase de decisao).\\n\\nREGRAS DE USO:\\n- Envie NO MAXIMO 1 video por conversa\\n- So envie se fizer sentido no contexto (nao force)\\n- Antes de enviar, faca uma introducao curta como: Olha so o depoimento de uma cliente nossa...\\n\\nVideos disponiveis:\\n\" + ($('Buscar Videos Prova Social').first() ? $('Buscar Videos Prova Social').first().all().map(function(item) { return \"- ID \" + item.json.id + \" | \" + item.json.titulo + \" (\" + item.json.contexto + \"): \" + item.json.descricao; }).join(\"\\n\") : \"Nenhum video cadastrado ainda.\") + ($json.observacoes ? \"\\n\\n# O que ja sei sobre este lead:\\n\" + $json.observacoes : \"\") \n}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4688,1024],"id":"d7156bbd-0ba3-4d93-a063-b4b838b40a02","name":"Agente IA"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4880,1216],"id":"ae134b76-d386-4618-81d1-2339c3efcbdc","name":"Calculadora","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendText/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados Lead').first().json.Telefone }}"},{"name":"text","value":"={{ $json['output.mensagens'] }}"},{"name":"delay","value":"={{ Math.min(6000, Math.max(1500, ($json['output.mensagens'] || '').length * 40)) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6080,1168],"id":"7bc97ba1-febe-4462-8b2e-e12b06449aed","name":"Enviar Mensagem","credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}}},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":440,"width":180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-992,880],"id":"e3941b66-7fd7-4dae-97c5-cfaf138fbaea","name":"Sticky Note2"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-544,864],"id":"c9e8d754-161d-487b-9cf6-4e558ab6ad19","name":"Sticky Note4"},{"parameters":{"content":"## Dados do Lead\nInformações principais sobre o lead","height":440,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,864],"id":"9d042fcb-85c3-4003-8074-6d20441099f5","name":"Sticky Note5"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":500,"width":840,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3648,816],"id":"3111c4b4-9893-4e52-9b30-72c312622e21","name":"Sticky Note7"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":500,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,816],"id":"643f7022-d9ad-4d99-a4da-a891cde67cf0","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":572,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4496,816],"id":"bf415836-0ad4-439e-a8dc-0278cb5d556b","name":"Sticky Note11"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":280,"width":210,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,992],"id":"b1f0246c-0a4a-434c-84c4-1fffee55d965","name":"Sticky Note"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,1024],"id":"6c58cd2e-8d27-439b-b9ad-b5563600b49b","name":"Sticky Note1"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":350,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4624,960],"id":"ff41f3e5-40e9-421f-817c-e690603b69b2","name":"Sticky Note21"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Buscar Instancia').first().json.company_id }}_{{ $json.telefone }}","tableName":"memoria_ia_sarah","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4736,1216],"id":"fbfa528b-ec62-4105-8c13-f5659a3b500d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"amount":"={{ $('Parametros do Fluxo').first().json.EsperaBuffer }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2704,1168],"id":"71d6370a-bc31-4ad8-b2b5-4f20a03d9e01","name":"Wait","webhookId":"5c40d18e-94a2-4ba7-a727-14b6b9933673","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('Dados Lead').first().json.Telefone }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2544,1168],"id":"70e921c8-06b9-4174-b233-b4e39fd072d7","name":"Redis Buffer1","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('Dados Lead').first().json.Telefone }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2864,1168],"id":"2345a630-294f-4f7c-9e7d-f3e128b326dc","name":"Redis Buffer2","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3168,1280],"id":"0b68d62b-1c52-4f37-a2e7-70a02d8102ef","name":"No Operation, do nothing","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"delete","key":"={{ $('Dados Lead').first().json.Telefone }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3168,1040],"id":"2a551b56-e454-4c84-b579-a9659fa9f485","name":"Redis1","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"db72e40b-2ba6-4979-8648-710fd0e859a6","name":"Texto","value":"={{ $('Gatilho').first().json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,656],"id":"96a10a60-24f0-49e4-a0e9-06063ece24a3","name":"Mensagem Texto1"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.Texto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,816],"id":"c96d4c04-d84c-4444-8d60-d65c11ab3cf1","name":"Redis Buffer Texto","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"27ccd1e7-41fa-4940-83d9-e740c8375795","name":"=Texto","value":"={{ $('Gatilho').first().json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"cce135d7-e1db-42f6-97c3-fb60e911d4dc","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,816],"id":"148f2efe-3a49-4e61-b7df-a4778ae4aa0d","name":"Mensagem Texto2"},{"parameters":{"assignments":{"assignments":[{"id":"ae3ac306-ac54-4266-a065-de3ab7c66527","name":"Erro","value":"<ErroFormatoMensagem>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,1520],"id":"b2d334da-bdde-4592-b9a2-12c470ffba95","name":"Mensagem Erro"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.Erro }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,1520],"id":"dc588e29-5a27-4fa5-921e-afe2f3d5997e","name":"Redis Buffer Erro","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"285f395c-bc9f-40cb-bc2c-16ad784ba962","name":"Audio","value":"={{ $('Gatilho').first().json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,976],"id":"81282788-b9eb-4b1b-8f11-5e472ce1d8b5","name":"Mensagem Audio"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,976],"id":"0a3b71ed-ddaa-43a7-a0b6-711c074503bc","name":"Redis Buffer Audio","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"toBinary","sourceProperty":"Audio","options":{"mimeType":"audio/mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,976],"id":"1ef48d96-a0a6-40e5-834d-38c95deebd6d","name":"Converso de Audio","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2128,976],"id":"9999bf85-3d05-4345-907d-dccd7fbd59de","name":"Transcrever Audio","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"70c8d8b9-a67f-46ae-af34-bee384c2cb5a","name":"Imagem","value":"={{ $('Gatilho').first().json.body.data.message.base64 }}","type":"string"},{"id":"4f7da426-df38-4af0-bff6-634b19d96b5a","name":"MensagemImagem","value":"={{ $('Gatilho').first().json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,1168],"id":"cbbb5fb9-85d2-4aab-ae08-4b09c9f6609c","name":"Mensagem Imagem"},{"parameters":{"operation":"toBinary","sourceProperty":"Imagem","options":{"mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,1168],"id":"ecdf0e11-fce9-4c80-8f49-18450209e6e0","name":"Converso Imagem","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $('Mensagem Imagem').first().json.MensagemImagem }}\n</MensagemUsuario>","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2128,1168],"id":"8ce57f36-c7ec-41b5-97fb-d1fc136590ff","name":"Analisar Imagem","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,1168],"id":"aa8f2a75-d526-4cac-a3d4-5b77ce3a2c1e","name":"Redis Buffer Imagem","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"cc633d0f-3f31-489a-9cec-3f7b5fd721ca","name":"Documento","value":"={{ $('Gatilho').first().json.body.data.message.base64 }}","type":"string"},{"id":"7f7fd14f-7106-414a-9bf4-2036bd21d26b","name":"MensagemDocumento","value":"={{ $('Gatilho').first().json.body.data.message.documentMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,1344],"id":"5444bd75-3398-4cba-b055-64f5cf4a8bd6","name":"Mensagem pdf"},{"parameters":{"operation":"toBinary","sourceProperty":"Documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,1344],"id":"e0729f33-9ec4-47a9-8f94-d53ecd39c94f","name":"Converso pdf","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2128,1344],"id":"a64f7ec7-3466-4bcc-a3bc-a13283b8016b","name":"Extrator pdf","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n</TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem pdf').first().json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,1344],"id":"5a181d76-b4aa-41f0-becb-1d5f417f87a0","name":"Redis Buffer pdf","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Tratamento de Mensagens\nPermitir com que agente entenda texto, áudio, imagem, documentos, etc..","height":1340,"width":860,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,368],"id":"7da1a99f-766e-4de9-9e3c-d8d5aff60c53","name":"Sticky Note8"},{"parameters":{"content":"### Tipos de Mensagens\nDefina no node Switch as condicionais para definir cada tipo de mídia de acordo com seu gatilho de entrada de dados.\n\nEm cada Node Set:\nMapeie os campos de cada\ntipo de mensagem corretamente.\n\nObs: Não altere o nome\ndos campos pré existentes\nnos nodes SET","height":1220,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,464],"id":"e5e9198f-aae8-4511-83d2-ee4dfb38c48e","name":"Sticky Note19"},{"parameters":{"content":"### Tratamento de Mensagens\nCada canal pode nos enviar as informações de diferentes formas e aqui trataremos elas de acordo.\n","height":1060,"width":350,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1904,624],"id":"fbc8148e-c2c5-4f41-84c1-e271531b2f2c","name":"Sticky Note24"},{"parameters":{"content":"## Buffer de Mensagens\nGarantir que agente compreenda todo o contexto das mensagens enviadas pelo usuário antes de formular uma resposta","height":1340,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,368],"id":"86ed77af-dfe0-43a9-826a-56019e1e572a","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"51b83700-6802-4085-a2de-db6bbca32b62","leftValue":"={{ $json.mensagens.last() }}","rightValue":"={{ $('Redis Buffer1').first().json.mensagens.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3024,1168],"id":"494a5d73-dc2e-4975-890e-ac07cf2808e1","name":"Comparando Lista Mensagens","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"e5b3d9bb-654d-4467-9a02-3344127c9a18"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425c8e9f-2848-4d95-955b-6a3239637639","leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5474037-89e0-479b-96a1-a59abfd3cadb","leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c32a19b-9b97-4d83-bb96-4de92c6e188e","leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0128331b-aadf-4567-beb4-ff6c2944bf7f","leftValue":"={{ $('Gatilho').first().json.body.data.message.documentMessage.mimetype }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1488,1024],"id":"2a81692c-d539-4344-a153-e6c65670dbf2","name":"Rotas de Mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"c182d6a3-8709-4b13-9740-20f1bbda7fcd","name":"mensagens","value":"={{ $json.mensagens.join('\\n\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,1040],"id":"7fbc5415-5892-4952-9cfd-f2bd2b34a5e9","name":"Mensagem","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"=<ultima_mensagem_do_cliente>\n{{ $('Mensagem').first().json.mensagens }}\n</ultima_mensagem_do_cliente>\n\n<resposta_da_sarah>\n{{ $json.output }}\n</resposta_da_sarah>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Sua tarefa é estruturar a resposta da Sarah e extrair informações NOVAS sobre o lead.\n\n# 1. Campo \"mensagens\" — estruture a <resposta_da_sarah>:\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Não deixe mensagens maiores que 240 caracteres;\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito use apenas um '*' nunca dois '*' (exemplo: *negrito).\n\n# 2. Campo \"observacoes\" — extraia APENAS informações NOVAS do lead:\n- Analise <ultima_mensagem_do_cliente> e <resposta_da_sarah> para identificar informações NOVAS sobre o lead\n- Capture: nome, profissão/especialidade, cargo (dono/sócio/funcionário), negócio próprio ou consultório de terceiro, nome da empresa/clínica, cidade, desafios mencionados, se já faz marketing, instagram, outros dados úteis para vendas\n- Retorne SOMENTE as informações NOVAS encontradas nesta mensagem (NÃO repita informações já existentes)\n- Se não há informação nova: OMITA o campo observacoes do JSON\n\nRetorne EXATAMENTE no formato JSON:\n{\n  \"mensagens\": [\"Mensagem 0\", \"Mensagem 1\"],\n  \"observacoes\": \"Info nova encontrada aqui\"\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[5264,976],"id":"ce19a4da-a52b-4206-a6cf-26efaf708887","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[5456,1136],"id":"cddd4084-9eb7-4c4f-9b6d-683c64aecf4a","name":"Auto-fixing Output Parser"},{"parameters":{"notice":"","schemaType":"manual","inputSchema":"{\"type\":\"object\",\"properties\":{\"mensagens\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"observacoes\":{\"type\":\"string\",\"description\":\"Anotacoes sobre o lead. Omita este campo se nao ha informacao nova.\"}},\"required\":[\"mensagens\"]}","autoFix":false},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5376,1248],"id":"5a232bdd-f3e0-404f-84ac-86d4e0a711d9","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5216,1248],"id":"e75a20dc-a669-4ed8-9df3-b8c896b0385e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}}},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5632,896],"id":"ec9fee9c-b5dd-42b0-90d9-1f800377752d","name":"Split Out","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5824,960],"id":"5a5e8cb7-bdd3-4563-8f19-0167c3503166","name":"Loop Over Items","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6672,1184],"id":"6d16c0b2-1e3a-4e65-923b-ce9e094fe81d","name":"Wait1","webhookId":"dff649af-172a-40e9-bb10-185b1dc2683e","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":540,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5776,816],"id":"ed763696-d280-4b3a-83d4-77d117347650","name":"Sticky Note13"},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":588,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5184,816],"id":"453565f1-1c0a-437f-a00b-d5210e5bf746","name":"Sticky Note14"},{"parameters":{"descriptionType":"manual","toolDescription":"Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atentende.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.","operation":"set","key":"={{ $('Dados Lead').first().json.Telefone }}_status","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"`, 'string') }}","expire":true,"ttl":"={{ $('Parametros do Fluxo').first().json.TempoInatividade }}"},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[5024,1216],"id":"04dee7f6-2090-42f2-b22d-cb1aa5e94ad1","name":"Desativar Agente","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"espera-buffer","name":"EsperaBuffer","value":30,"type":"number"},{"id":"tempo-inatividade","name":"TempoInatividade","value":3600,"type":"number"},{"id":"modelo-temperatura","name":"ModeloTemperatura","value":0.4,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,1088],"id":"ff0ffc08-609a-44c6-8eee-c7cd679586a9","name":"Parametros do Fluxo"},{"parameters":{"operation":"get","propertyName":"AgentesStatus","key":"={{ $json.telefone }}_status","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,1056],"id":"55744a4f-fa59-4052-a404-f94b860a14b3","name":"Redis","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"6273559a-d1aa-466e-a4e0-40ba5dad4ce9","leftValue":"={{ $json.AgentesStatus }}","rightValue":"Desativado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,1056],"id":"308b6f68-5d1d-4e64-8f2c-c0f4e584a912","name":"Bot Desativado?!"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1248,928],"id":"ad99a6d7-9e01-4353-9dc7-94a926dff933","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Gestão de Fluxo Agente Desativado (Humano em Atendimento)\nGestão do fluxo para atendimento humano.\n","height":440,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,848],"id":"3184fe0c-2ea1-4ad6-b635-b50e3d734c91","name":"Sticky Note6"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,880],"id":"6d377834-4ab5-4faa-a24e-ed98c1378c09","name":"Sticky Note12"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-768,976],"id":"92f88bc3-b4f8-43b3-b32b-af9bd48b6973","name":"Sticky Note18"},{"parameters":{"content":"## Formatos Base64\nBase64 é uma forma de codificar dados binários como texto. Dependendo do tipo de arquivo, os prefixos variam para indicar o formato do dado. Aqui estão alguns dos formatos mais comuns com os respectivos prefixos base64:\n\n### 1. **Imagem**\n   - **PNG**: `data:image/png;base64,`\n   - **JPEG**: `data:image/jpeg;base64,`\n   - **GIF**: `data:image/gif;base64,`\n   - **SVG**: `data:image/svg+xml;base64,`\n   - **BMP**: `data:image/bmp;base64,`\n   \n### 2. **Áudio**\n   - **MP3**: `data:audio/mp3;base64,`\n   - **WAV**: `data:audio/wav;base64,`\n   - **OGG**: `data:audio/ogg;base64,`\n   - **MPEG**: `data:audio/mpeg;base64,`\n\n### 3. **Vídeo**\n   - **MP4**: `data:video/mp4;base64,`\n   - **OGG**: `data:video/ogg;base64,`\n   - **WebM**: `data:video/webm;base64,`\n\n### 4. **Texto**\n   - **Plain Text**: `data:text/plain;base64,`\n   - **HTML**: `data:text/html;base64,`\n   - **CSS**: `data:text/css;base64,`\n   - **JavaScript**: `data:text/javascript;base64,`\n   - **CSV**: `data:text/csv;base64,`\n\n### 5. **Documentos**\n   - **PDF**: `data:application/pdf;base64,`\n   - **JSON**: `data:application/json;base64,`\n   - **ZIP**: `data:application/zip;base64,`\n   - **XML**: `data:application/xml;base64,`\n\nEsses são exemplos de prefixos que podem ser usados ao incluir dados base64 em documentos ou aplicações.","height":1166,"width":593,"color":7},"id":"c4fb74ab-9587-4002-b7d0-7ee2047887ae","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[112,2432]},{"parameters":{"content":"## MimeTypes\nO Mime type é o mecanismo para especificar o tipo de documento.\nA estrutura de um MIME type é muito simples; Consiste de um tipo e um subtipo, separados por um '/', onde nenhum espaço é permitido. \nO tipo representa a categoria. \nO subtipo é específico para cada tipo.\n\n### 1. **image**\nRepresenta qualquer tipo de imagens\n- image/gif\n- image/png\n- image/jpeg\n- image/bmp\n- image/webp\n   \n\n### 2. **audio**\nRepresenta qualquer tipo de arquivo de audio\n- audio/midi\n- audio/mpeg\n- audio/webm\n- audio/ogg\n- audio/wav\n- audio/mp3\n- audio/mp4\n\n### 3. **video**\nRepresenta qualquer tipo de arquivo de video\n- video/webm\n- video/ogg\n- video/mp4\n\n### 4. **text**\nRepresenta qualquer documento que contenha texto\n- text/plain\n- text/csv\n- text/html\n- text/css\n- text/javascript\n\n### 5. **application**\nRepresenta qualquer tipo de dados binários.\n- application/octet-stream\n- application/pkcs12\n- application/vnd.mspowerpoint\n- application/xhtml+xml\n- application/xml\n- application/pdf","height":1166,"width":593,"color":7},"id":"f6174085-7e0a-4ef6-b2d8-ea47bd5ad619","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,2432]},{"parameters":{"content":"Ajuste sua instância e autenficiação da Evolution","height":240,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6000,1088],"id":"83c7578d-5cd9-4390-95d4-6212cfddca99","name":"Sticky Note22"},{"parameters":{"content":"","height":1612,"width":6892,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1648,2016],"id":"deb93fb0-240e-4e2c-94e0-fbbc11ce351b","name":"Sticky Note20"},{"parameters":{"content":"-\n# MASTER AGENT\n-","height":140,"width":304,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,48],"id":"66ee7fd4-48d9-4f18-bced-ef1b20d3c929","name":"Sticky Note23"},{"parameters":{"content":"## Instruções de Uso\n🔴 Áreas em vermelho você deve realizar alterações de acordo com seu canal de entrada;\n🟢 Áreas em verde já estão pré configuradas para o canal do Template, caso vá utilizar outro canal, também fazer devidas alterações nesses nodes;\n\n⚠️ Atenção: \n1. Não altere nome de parâmetros pré-existentes para para evitar quebra do fluxo;\n2. Fique a vontade para adicionar novos parâmetros caso necessário;","height":220,"width":690,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,256],"id":"0567df4a-9998-4507-86e8-29bcd9d8902a","name":"Sticky Note25"},{"parameters":{"content":"em teste ","height":170,"width":413,"color":4},"id":"84ad3c8b-2195-4662-b97b-12065cac941e","name":"Sticky Note29","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"68aa514b-9e10-4a58-99d6-e907fbbdffbc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[3552,2112],"retryOnFail":false,"disabled":true,"notes":"select *\nfrom public.sp3_followup_state\nwhere status = 'active'\n  and next_followup_at is not null\n  and next_followup_at <= now();"},{"parameters":{"operation":"executeQuery","query":"WITH due AS (\n  SELECT s.telefone, s.company_id\n  FROM public.sp3_followup_state s\n  WHERE s.next_followup_at IS NOT NULL\n    AND s.next_followup_at <= NOW()\n    AND (s.locked_at IS NULL OR s.locked_at < NOW() - INTERVAL '5 minutes')\n    AND (s.last_inbound_at IS NULL OR s.last_outbound_at IS NULL OR s.last_inbound_at < s.last_outbound_at)\n  ORDER BY s.next_followup_at ASC\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n)\nUPDATE public.sp3_followup_state st\nSET\n  lock_id = gen_random_uuid(),\n  locked_at = NOW(),\n  updated_at = NOW()\nFROM due\nWHERE st.telefone = due.telefone\nRETURNING\n  st.telefone,\n  st.followup_step,\n  st.lock_id,\n  st.locked_at,\n  st.company_id;","options":{}},"id":"4d3abc7a-de50-4322-a406-55b4321e5493","name":"Claim Due Followups","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3728,2112],"credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}}},{"parameters":{"batchSize":20,"options":{}},"id":"275f511d-0084-423b-8aca-c8a919196857","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3904,2112]},{"parameters":{"operation":"getAll","tableId":"sp3_followup_settings","limit":1},"id":"6c5d8434-a008-4bd2-a1d6-e135cae411d6","name":"Load Followup Settings","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4064,2112],"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"jsCode":"// Build Followup Text (SP3)\n// - garante que telefone exista\n// - monta followup_base_text\n// - anexa followup_settings (do node Load Followup Settings)\n// - mantém tudo no MESMO item para o agente e para o envio\n\n// 1) pega o item \"due\" vindo do Claim Due Followups\nconst due = $json || {};\n\n// 2) pega settings do node Load Followup Settings (primeiro item)\nconst settingsNode = $items(\"Load Followup Settings\")[0];\nconst settings = settingsNode?.json || {};\n\n// 3) normaliza telefone\nconst telefone = String(\n  due.telefone ?? due.remoteJid ?? due.number ?? \"\"\n)\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@c.us\", \"\")\n  .trim();\n\n// 4) texto base (pré-IA) — usa o que veio do banco, com fallback\nconst baseText = String(\n  due.followup_base_text ?? \"Oi! Passando rapidinho por aqui 🙂\"\n).trim();\n\n// 5) aqui você pode enriquecer com contexto/abertura padrão\n// (mantive simples para não quebrar seu fluxo)\nconst textoFinal = baseText;\n\n// 6) retorna 1 item consolidado\nreturn [\n  {\n    json: {\n      ...due,\n      telefone,\n      followup_base_text: textoFinal,\n      followup_settings: settings,\n    },\n  },\n];"},"id":"8d3bcc77-8735-4582-9769-faa3f7745f7d","name":"Build Followup Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[4240,2112]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.sp3_followup_state\nSET\n  last_outbound_at = NOW(),\n  followup_step = COALESCE(followup_step, 0) + 1,\n  next_followup_at = NOW() + INTERVAL '24 hours',\n  locked_at = NULL,\n  lock_id = NULL,\n  updated_at = NOW()\nWHERE telefone = '{{ $(\"Claim Due Followups\").item.json.telefone }}'\n  AND company_id = '{{ $(\"Claim Due Followups\").item.json.company_id }}'\nRETURNING *;\n\nUPDATE public.sp3chat\nSET\n  stage = 'Em Follow-up',\n  followup_stage = (SELECT followup_step FROM public.sp3_followup_state WHERE telefone = '{{ $(\"Claim Due Followups\").item.json.telefone }}' AND company_id = '{{ $(\"Claim Due Followups\").item.json.company_id }}'),\n  stage_updated_at = NOW()\nWHERE telefone = '{{ $(\"Claim Due Followups\").item.json.telefone }}'\n  AND company_id = '{{ $(\"Claim Due Followups\").item.json.company_id }}'\n  AND (stage IS NULL OR stage IN ('Novo Lead', 'Contato Iniciado', 'Qualificando'));","options":{}},"id":"fe63c4d0-77fa-4852-a998-a54ae401c2c5","name":"Update Followup State","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5984,2016],"executeOnce":true,"credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6144,1952],"id":"019faec4-a935-4fa9-9f16-0d6d848ee66e","name":"Fim1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendText/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{\n(\"55\" + String($item(0).$('Claim Due Followups').first().json.telefone || \"\")\n.replace(/\\D/g,\"\")\n.replace(/^55/,\"\"))\n}}"},{"name":"text","value":"={{$json[\"output.mensagens\"]}}"},{"name":"delay","value":"={{ Math.min(6000, Math.max(1500, ($json['output.mensagens'] || '').length * 40)) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6000,2240],"id":"80dedd75-33fb-483e-a022-fdefb2b43539","name":"Enviar Mensagem1","credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[5200,2080],"id":"14610942-5f42-4f41-9685-5500aaab5991","name":"Basic LLM Chain1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[5392,2240],"id":"d3606c1e-7dee-49d7-b5cd-69bfc1e948a3","name":"Auto-fixing Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"notice":"","schemaType":"manual","inputSchema":"{\"type\":\"object\",\"properties\":{\"mensagens\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"observacoes\":{\"type\":\"string\",\"description\":\"Anotacoes sobre o lead. Omita este campo se nao ha informacao nova.\"}},\"required\":[\"mensagens\"]}","autoFix":false},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5312,2352],"id":"85a949a0-3aad-4533-9fd8-213875d1f3d0","name":"Structured Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5152,2352],"id":"b3da08c8-7056-474e-a5c0-a2a26e78de55","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5584,2048],"id":"9ffa84e9-ade7-4b12-a05f-80dbd398fdbb","name":"Split Out1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5776,2144],"id":"0a49266c-50a0-42df-b893-16f98e25f31a","name":"Loop Over Items1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6192,2240],"id":"4d3fc69c-a1ff-41ab-a88a-8072923ad151","name":"Wait2","webhookId":"dff649af-172a-40e9-bb10-185b1dc2683e","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":540,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5712,1920],"id":"eb118273-b65d-4f9e-91bf-e876e31f28d3","name":"Sticky Note17"},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":540,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5120,1920],"id":"ef3c9dde-216a-43e1-9f16-7dc3f9d6c929","name":"Sticky Note28"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Evolution","height":240,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5936,2192],"id":"e15c5195-d6c7-48dd-a13a-5de76dd25140","name":"Sticky Note30"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4448,2304],"id":"2e4d801c-d5d6-4fb0-9d65-931a90cb2659","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"={{ $json.followup_base_text }}","options":{"systemMessage":"=# Variáveis\nData Atual: {{ $now.weekdayLong }}, Semana {{ $now.format('WW') }}, {{ $now.format('DD/MM/yyyy') }}, {{ ((($now.hour) % 24).toString()).padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n\nVocê é um SDR de follow-up da SP3 (tom humano, premium, objetivo) escrevendo no WhatsApp.\nSua missão: transformar um “texto base” em mensagens curtas e naturais, mantendo contexto e CTA leve.\n\nREGRAS IMPORTANTES\n1) Escreva em PT-BR.\n2) Mensagens curtas (1 a 3 frases por mensagem).\n3) Não use linguagem robótica (“conforme contato anterior”, “venho por meio”, etc).\n4) Sempre personalize com o nome quando existir.\n5) Não invente detalhes: use somente os dados recebidos.\n6) Se faltar contexto, faça 1 pergunta curta para destravar.\n7) Evite gatilhos agressivos (“última chance”, “urgente”, “promoção imperdível”).\n8) O objetivo é: responder o lead e avançar para o próximo passo (CTA).\n\nENTRADAS (vêm no JSON):\n- nome (string, pode estar vazio)\n- telefone\n- followup_step (número)\n- followup_base_text (texto base já montado)\n- followup_settings (objeto com tom, regras, CTA, etc — se existir)\n- memory/context (se existir, use para manter coerência)\n\nSAÍDA OBRIGATÓRIA (apenas JSON válido, sem texto fora do JSON):\n{\n  \"messages\": [\n    {\n      \"order\": 1,\n      \"text\": \"...\"\n    }\n  ],\n  \"meta\": {\n    \"tone\": \"premium_humano\",\n    \"goal\": \"followup_responder_e_avancar\",\n    \"cta\": \"...\"\n  }\n}\n\nCOMO GERAR\n- Gere de 2 a 4 mensagens (máximo 4), para envio em sequência.\n- A mensagem 1 retoma de forma leve.\n- A mensagem 2 dá contexto/benefício em 1 linha.\n- A mensagem 3 faz uma pergunta simples OU CTA (“Quer que eu…?”).\n- Se followup_step for alto, seja ainda mais direto e curto.\n\nAgora gere as mensagens usando os dados recebidos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4560,2112],"id":"3bac6e3e-93f6-480c-83ee-f7191cfdaae8","name":"Agente IA1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4752,2320],"id":"936d6825-4cfa-4ba8-b2fe-77653f00fbf4","name":"Calculadora1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":540,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4400,1904],"id":"2e2ea4b0-aabd-4249-b520-cf1b673f1bd7","name":"Sticky Note31"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":350,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4496,2048],"id":"a1e3df06-04d0-4aad-9ba8-4f6df443b78a","name":"Sticky Note32"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ String($json.telefone || '').trim() }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4608,2304],"id":"6d6af589-5494-476d-9ce1-59b8824d2c2e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}},"disabled":true,"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"descriptionType":"manual","toolDescription":"Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atentende.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.","operation":"set","key":"={{ $('Dados Lead').first().json.Telefone }}_status","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"`, 'string') }}","expire":true,"ttl":"={{ $('Parametros do Fluxo').first().json.TempoInatividade }}"},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[4896,2304],"id":"de6e7bb9-a5a7-4ec6-9587-91de541fe8dc","name":"Desativar Agente1","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Configuracao Inicial\nvem do supabase da SP3 \n","height":540,"width":868,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3488,1904],"id":"975ce377-4741-4309-9eec-21d487d42497","name":"Sticky Note33"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.split('@')[0] }}"},{"fieldId":"message","fieldValue":"={{ \nJSON.stringify({ \n  \"type\": \"ai\", \n  \"content\": ($('Gatilho').first().json.body.data.message.conversation || ($('Gatilho').first().json.body.data.message.extendedTextMessage ? $('Gatilho').first().json.body.data.message.extendedTextMessage.text : \"Mensagem enviada pelo celular\")) \n}) \n}}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,1008],"id":"07770917-1d33-4915-9b32-4bb26d30b450","name":"Mensagens do celular","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":520,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,864],"id":"bd5b91ec-808b-49c1-a769-edf76a758992","name":"Sticky Note26"},{"parameters":{"operation":"get","tableId":"sp3chat","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.split('@')[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,1088],"id":"ba05cb13-4bf4-43ae-b7e1-22abca62bff0","name":"Ativar ou desativar ia","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"content":"## IA SARAH\nPara evitar que fluxo seja executado quando não queremos","height":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[336,896],"id":"5b660213-d122-43ed-9368-280cd21706fc","name":"Sticky Note27"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Gatilho').first().json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e524757b-f5ee-471a-8692-78a0c2f410b2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"3857f0d0-85f0-4b80-9ac0-fd9c51c25177","leftValue":"={{ $('Gatilho').first().json.body.data.key.fromMe }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-464,1104],"id":"a7386989-c193-4faa-bbc3-e76cd023cf02","name":"Switch"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.split('@')[0] }}"},{"fieldId":"message","fieldValue":"={{ JSON.stringify($('Gatilho').first().json.body.data.messageType === 'audioMessage' ? {\"type\":\"human\",\"msgStyle\":\"audio\",\"content\":$('Gatilho').first().json.body.data.message.base64 ? \"data:audio/ogg;base64,\" + $('Gatilho').first().json.body.data.message.base64 : \"🎤 Mensagem de áudio\"} : $('Gatilho').first().json.body.data.messageType === 'imageMessage' ? {\"type\":\"human\",\"msgStyle\":\"image\",\"content\":$('Gatilho').first().json.body.data.message.base64 ? \"data:\" + ($('Gatilho').first().json.body.data.message.imageMessage?.mimetype || \"image/jpeg\") + \";base64,\" + $('Gatilho').first().json.body.data.message.base64 : ($('Gatilho').first().json.body.data.message.imageMessage?.url || \"📷 Imagem\")} : {\"type\":\"human\",\"content\":$('Gatilho').first().json.body.data.message.conversation || $('Gatilho').first().json.body.data.message.extendedTextMessage?.text || $('Gatilho').first().json.body.data.message.imageMessage?.caption || \"Mensagem de mídia/sistema\"}) }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,1200],"id":"c4880b18-3fe1-4c85-8cdd-b4d2267324db","name":"Salvar Mensagem Cliente (human)","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.ia_active ?? true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"c6a839ae-a32d-40ca-a8c9-352973c0040a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85356363-20dd-494e-9b0b-2dc10877c634","leftValue":"={{ $json.ia_active ?? true }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[624,1088],"id":"2e4e1624-90ad-44ec-a2b5-f97176973d44","name":"IA ligada?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[768,1408],"id":"ca04b32a-3100-4015-bf1f-71c2d08ebb88","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $(\"Gatilho\").item.json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"fieldId":"message","fieldValue":"={{ JSON.stringify(Object.assign({type: \"ai\", content: $(\"Loop Over Items\").item.json[\"output.mensagens\"] || $(\"Loop Over Items1\").item.json[\"output.mensagens\"]}, $json.isAudioMessage ? {msgStyle: \"audio_sent\"} : {})) }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6304,1184],"id":"ae10ee93-c779-4b93-92a3-f89787e47d15","name":"Salvar Resposta da Sarah","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"audio-chance-cond","leftValue":"={{ Math.random() }}","rightValue":0.15,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"id":"f1a2b3c4-d5e6-4789-bcde-f12345678901","name":"Sortear Áudio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6080,928]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/pi4WWkSgjzBbhEFyy20y","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"=sk_ecfcec84d0abab090020f44b4e5dd62bae20a1a60e911a2c"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ text: $json['output.mensagens'], model_id: 'eleven_multilingual_v2', voice_settings: { stability: 0.5, similarity_boost: 0.75 } }) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"f2a2b3c4-d5e6-4789-bcde-f12345678902","name":"Gerar Áudio ElevenLabs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6512,800]},{"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendWhatsAppAudio/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ number: $('Dados Lead').first().json.Telefone, audio: $json.audioBase64, encoding: true }) }}","options":{}},"id":"f3a2b3c4-d5e6-4789-bcde-f12345678903","name":"Enviar Áudio Evolution","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6720,800],"credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}}},{"parameters":{"assignments":{"assignments":[{"id":"txt-audio-field","name":"text","value":"={{ $('Loop Over Items').first().json['output.mensagens'] }}","type":"string"},{"id":"audio-flag-field","name":"isAudioMessage","value":true,"type":"boolean"}]},"options":{}},"id":"f4a2b3c4-d5e6-4789-bcde-f12345678904","name":"Texto p/ Salvar Áudio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6912,800]},{"parameters":{"content":"## Envio de audio \nEnvio de audio ","height":300,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6448,720],"id":"07614378-dafa-4b6c-b814-ca951728eca4","name":"Sticky Note34"},{"parameters":{"operation":"update","tableId":"sp3chat","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_stage","fieldValue":0},{"fieldId":"last_inbound_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[112,1360],"id":"reset-followup-id","name":"Reset Followup","credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"alwaysOutputData":true},{"parameters":{"operation":"update","tableId":"sp3chat","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $(\"Gatilho\").item.json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_outbound_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6480,1184],"id":"marcar-saida-ia-id","name":"Marcar Saida IA","credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"url":"=https://ioqjhbhjzuukmssxhvma.supabase.co/rest/v1/sp3_prompts?company_id=eq.{{ $('Buscar Instancia').first().json.company_id }}&order=created_at.desc&limit=1&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"},{"name":"Authorization","value":"Bearer sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"}]},"options":{}},"id":"http-buscar-prompt-id","name":"Buscar Prompt IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-592,1296],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cond-obs-exists","leftValue":"={{ $json.output.observacoes }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"verificar-obs-node-id","name":"Verificar Observações","type":"n8n-nodes-base.if","typeVersion":2,"position":[5264,1456]},{"parameters":{"operation":"update","tableId":"sp3chat","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"observacoes","fieldValue":"={{ $json.observacoes_final }}"}]}},"id":"salvar-obs-node-id","name":"Salvar Observações Lead","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5488,1456],"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"setAllData":false,"destinationKey":"audioBase64","options":{"keepSource":false,"keepAsBase64":true}},"id":"move-binary-audio-001","name":"Converter Audio Base64","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[6624,928]},{"id":"buscar-videos-prova-social","name":"Buscar Videos Prova Social","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,700],"parameters":{"method":"GET","url":"=https://ioqjhbhjzuukmssxhvma.supabase.co/rest/v1/sp3_social_proof_videos?company_id=eq.{{ $('Buscar Instancia').first().json.company_id }}&active=eq.true&select=id,titulo,descricao,contexto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"},{"name":"Authorization","value":"Bearer sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"}]},"options":{}},"onError":"continueRegularOutput"},{"id":"tool-enviar-video","name":"Enviar Video Prova Social","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[400,800],"parameters":{"description":"Envia um video de prova social ou depoimento de cliente satisfeito para o lead via WhatsApp. Use quando o lead estiver hesitante, pedir referencias, ou estiver na fase de decisao. Passe o video_id (numero inteiro) da lista de videos disponiveis no system prompt.","source":"database","workflowId":{"__rl":true,"mode":"list","value":"k4yzpHwE3A4p3XoO","cachedResultName":"Tool: Enviar Video Prova Social"},"workflowInputs":{"mappingMode":"defineBelow","value":{"video_id":"={{ $fromAI('video_id', 'ID inteiro do video de prova social da lista disponivel', 'number') }}","telefone":"={{ $('Dados Lead').first().json.Telefone }}","company_id":"={{ $('Buscar Instancia').first().json.company_id }}","evo_api_url":"={{ $('Buscar Instancia').first().json.evo_api_url }}","instance_name":"={{ $('Buscar Instancia').first().json.instance_name }}"},"schema":[{"id":"video_id","type":"number","display":true,"required":true,"displayName":"video_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"telefone","type":"string","display":true,"required":true,"displayName":"telefone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"company_id","type":"string","display":true,"required":true,"displayName":"company_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"evo_api_url","type":"string","display":true,"required":true,"displayName":"evo_api_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"instance_name","type":"string","display":true,"required":true,"displayName":"instance_name","defaultMatch":false,"canBeUsedToMatch":true}],"matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}}},{"id":"mesclar-obs-node","name":"Mesclar Observações","type":"n8n-nodes-base.code","typeVersion":2,"position":[5376,1456],"parameters":{"jsCode":"// Observações existentes do lead\nconst obsExistentes = $('Merge').first().json.observacoes || '';\n// Novas observações extraídas pela LLM\nconst obsNovas = $json.output.observacoes || '';\n\nlet resultado;\n\nif (!obsExistentes) {\n  resultado = obsNovas;\n} else if (!obsNovas) {\n  resultado = obsExistentes;\n} else {\n  resultado = (obsExistentes.trim() + '\\n' + obsNovas.trim()).substring(0, 1000);\n}\n\nreturn [{ json: { observacoes_final: resultado } }];"}},{"id":"horario-comercial-check","name":"Horario Comercial?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1250,1056],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"hour-gte-start","leftValue":"={{ $now.setZone('America/Sao_Paulo').hour * 60 + $now.setZone('America/Sao_Paulo').minute }}","rightValue":"={{ parseInt($('Buscar Config Horário').first().json.start_time.split(':')[0]) * 60 + parseInt($('Buscar Config Horário').first().json.start_time.split(':')[1]) }}","operator":{"type":"number","operation":"gte"}},{"id":"hour-lt-end","leftValue":"={{ $now.setZone('America/Sao_Paulo').hour * 60 + $now.setZone('America/Sao_Paulo').minute }}","rightValue":"={{ parseInt($('Buscar Config Horário').first().json.end_time.split(':')[0]) * 60 + parseInt($('Buscar Config Horário').first().json.end_time.split(':')[1]) }}","operator":{"type":"number","operation":"lt"}},{"id":"weekday-active","leftValue":"={{ $('Buscar Config Horário').first().json.active_days.includes($now.setZone('America/Sao_Paulo').weekday % 7) }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"check-flag-fora-horario","name":"Check Flag Fora Horario","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1250,1350],"parameters":{"operation":"get","propertyName":"offhoursFlag","key":"={{ $('Dados Lead').first().json.Telefone }}_offhours","keyType":"string","options":{}},"credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}}},{"id":"ja-notificou-fora-horario","name":"Ja Notificou Fora Horario?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,1350],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"flag-exists","leftValue":"={{ $json.offhoursFlag }}","rightValue":"","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"options":{}}},{"id":"enviar-aviso-fora-horario","name":"Enviar Aviso Fora Horario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,1500],"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendText/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados Lead').first().json.Telefone }}"},{"name":"text","value":"={{ $('Buscar Config Horário').first().json.out_of_hours_message }}"},{"name":"delay","value":"3000"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}}},{"id":"salvar-aviso-fora-horario","name":"Salvar Aviso Fora Horario","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2000,1500],"parameters":{"operation":"create","tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Dados Lead').first().json.Telefone }}"},{"fieldId":"message","fieldValue":"={{ JSON.stringify({type: 'ai', content: $('Buscar Config Horário').first().json.out_of_hours_message || 'Mensagem fora do horário enviada'}) }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"id":"marcar-notificado-redis","name":"Marcar Notificado Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2250,1500],"parameters":{"operation":"set","key":"={{ $('Dados Lead').first().json.Telefone }}_offhours","value":"1","keyType":"string","expire":true,"ttl":43200},"credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}}},{"id":"calcular-proximo-horario","name":"Calcular Proximo Horario","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,1350],"parameters":{"jsCode":"const config = $('Buscar Config Horário').first().json;\nconst activeDays = config.active_days || [1,2,3,4,5];\nconst [startHour, startMin] = (config.start_time || '08:00').split(':').map(Number);\n\nconst now = DateTime.now().setZone('America/Sao_Paulo');\nlet target;\n\nif (now.hour < startHour || (now.hour === startHour && now.minute < startMin)) {\n  target = now.set({ hour: startHour, minute: startMin + 5, second: 0, millisecond: 0 });\n} else {\n  target = now.plus({ days: 1 }).set({ hour: startHour, minute: startMin + 5, second: 0, millisecond: 0 });\n}\n\n// Converter Luxon weekday (1=Seg..7=Dom) para nosso formato (0=Dom..6=Sab)\nconst luxonToOurs = (wd) => wd === 7 ? 0 : wd;\nlet safety = 0;\nwhile (!activeDays.includes(luxonToOurs(target.weekday)) && safety < 8) {\n  target = target.plus({ days: 1 });\n  safety++;\n}\n\nreturn $input.all().map(item => ({\n  json: { ...item.json, waitUntil: target.toISO() }\n}));"}},{"id":"esperar-horario-comercial","name":"Esperar Horario Comercial","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2750,1350],"parameters":{"resume":"specificTime","dateTime":"={{ $json.waitUntil }}"}},{"id":"134e90e2-9e4c-46cd-a6d8-98f9c6e60c11","name":"Buscar Instancia","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-848,1088],"parameters":{"operation":"getAll","tableId":"sp3_instances","returnAll":false,"limit":1,"filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"instance_name","condition":"eq","keyValue":"={{ $json.body.instance }}"}]}},"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"alwaysOutputData":true},{"id":"buscar-config-horario","name":"Buscar Config Horário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,1280],"parameters":{"operation":"getAll","tableId":"sp3_followup_settings","returnAll":false,"limit":1,"filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}}],"connections":{"Gatilho":{"main":[[{"node":"Buscar Instancia","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Ativar ou desativar ia","type":"main","index":0}]]},"Encontrar Cliente":{"main":[[{"node":"Cliente existe?","type":"main","index":0}]]},"Cliente existe?":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Criar Cliente","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Agente IA","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente IA","type":"ai_languageModel","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Agente IA":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Enviar Mensagem":{"main":[[{"node":"Salvar Resposta da Sarah","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente IA","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"Redis Buffer2","type":"main","index":0}]]},"Redis Buffer1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis Buffer2":{"main":[[{"node":"Comparando Lista Mensagens","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Mensagem Texto1":{"main":[[{"node":"Redis Buffer Texto","type":"main","index":0}]]},"Redis Buffer Texto":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Mensagem Texto2":{"main":[[{"node":"Redis Buffer Texto","type":"main","index":0}]]},"Mensagem Erro":{"main":[[{"node":"Redis Buffer Erro","type":"main","index":0}]]},"Redis Buffer Erro":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Mensagem Audio":{"main":[[{"node":"Converso de Audio","type":"main","index":0}]]},"Redis Buffer Audio":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Converso de Audio":{"main":[[{"node":"Transcrever Audio","type":"main","index":0}]]},"Transcrever Audio":{"main":[[{"node":"Redis Buffer Audio","type":"main","index":0}]]},"Mensagem Imagem":{"main":[[{"node":"Converso Imagem","type":"main","index":0}]]},"Converso Imagem":{"main":[[{"node":"Analisar Imagem","type":"main","index":0}]]},"Analisar Imagem":{"main":[[{"node":"Redis Buffer Imagem","type":"main","index":0}]]},"Redis Buffer Imagem":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Mensagem pdf":{"main":[[{"node":"Converso pdf","type":"main","index":0}]]},"Converso pdf":{"main":[[{"node":"Extrator pdf","type":"main","index":0}]]},"Extrator pdf":{"main":[[{"node":"Redis Buffer pdf","type":"main","index":0}]]},"Redis Buffer pdf":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Comparando Lista Mensagens":{"main":[[{"node":"Redis1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Rotas de Mensagens":{"main":[[{"node":"Mensagem Texto1","type":"main","index":0}],[{"node":"Mensagem Texto2","type":"main","index":0}],[{"node":"Mensagem Audio","type":"main","index":0}],[{"node":"Mensagem Imagem","type":"main","index":0}],[{"node":"Mensagem pdf","type":"main","index":0}],[{"node":"Mensagem Erro","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Encontrar Cliente","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Verificar Observações","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Desativar Agente":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Redis":{"main":[[{"node":"Bot Desativado?!","type":"main","index":0}]]},"Bot Desativado?!":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Horario Comercial?","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Claim Due Followups","type":"main","index":0}]]},"Claim Due Followups":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Load Followup Settings","type":"main","index":0}]]},"Load Followup Settings":{"main":[[{"node":"Build Followup Text","type":"main","index":0}]]},"Build Followup Text":{"main":[[{"node":"Agente IA1","type":"main","index":0}]]},"Enviar Mensagem1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Update Followup State","type":"main","index":0}],[{"node":"Enviar Mensagem1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Agente IA1","type":"ai_languageModel","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"Agente IA1","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Agente IA1","type":"ai_memory","index":0}]]},"Desativar Agente1":{"ai_tool":[[{"node":"Agente IA1","type":"ai_tool","index":0}]]},"Agente IA1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Update Followup State":{"main":[[{"node":"Fim1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagens do celular","type":"main","index":0}],[{"node":"Salvar Mensagem Cliente (human)","type":"main","index":0}]]},"Ativar ou desativar ia":{"main":[[{"node":"IA ligada?","type":"main","index":0}]]},"Salvar Mensagem Cliente (human)":{"main":[[{"node":"Reset Followup","type":"main","index":0}]]},"IA ligada?":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Salvar Resposta da Sarah":{"main":[[{"node":"Marcar Saida IA","type":"main","index":0}]]},"Sortear Áudio":{"main":[[{"node":"Gerar Áudio ElevenLabs","type":"main","index":0}],[{"node":"Enviar Mensagem","type":"main","index":0}]]},"Enviar Áudio Evolution":{"main":[[{"node":"Texto p/ Salvar Áudio","type":"main","index":0}]]},"Texto p/ Salvar Áudio":{"main":[[{"node":"Salvar Resposta da Sarah","type":"main","index":0}]]},"Reset Followup":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Marcar Saida IA":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Parametros do Fluxo":{"main":[[{"node":"Buscar Prompt IA","type":"main","index":0},{"node":"Buscar Videos Prova Social","type":"main","index":0}]]},"Buscar Prompt IA":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Gerar Áudio ElevenLabs":{"main":[[{"node":"Converter Audio Base64","type":"main","index":0}]]},"Converter Audio Base64":{"main":[[{"node":"Enviar Áudio Evolution","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Sortear Áudio","type":"main","index":0}]]},"Enviar Video Prova Social":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Verificar Observações":{"main":[[{"node":"Mesclar Observações","type":"main","index":0}]]},"Mesclar Observações":{"main":[[{"node":"Salvar Observações Lead","type":"main","index":0}]]},"Horario Comercial?":{"main":[[{"node":"Rotas de Mensagens","type":"main","index":0}],[{"node":"Check Flag Fora Horario","type":"main","index":0}]]},"Check Flag Fora Horario":{"main":[[{"node":"Ja Notificou Fora Horario?","type":"main","index":0}]]},"Ja Notificou Fora Horario?":{"main":[[{"node":"Calcular Proximo Horario","type":"main","index":0}],[{"node":"Enviar Aviso Fora Horario","type":"main","index":0}]]},"Enviar Aviso Fora Horario":{"main":[[{"node":"Salvar Aviso Fora Horario","type":"main","index":0}]]},"Salvar Aviso Fora Horario":{"main":[[{"node":"Marcar Notificado Redis","type":"main","index":0}]]},"Marcar Notificado Redis":{"main":[[{"node":"Calcular Proximo Horario","type":"main","index":0}]]},"Calcular Proximo Horario":{"main":[[{"node":"Esperar Horario Comercial","type":"main","index":0}]]},"Esperar Horario Comercial":{"main":[[{"node":"Rotas de Mensagens","type":"main","index":0}]]},"Buscar Instancia":{"main":[[{"node":"Parametros do Fluxo","type":"main","index":0},{"node":"Filtro de Bloqueio","type":"main","index":0},{"node":"Buscar Config Horário","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-02-22T00:57:10.734-03:00","Readable date":"February 22nd 2026, 12:57:10 am","Readable time":"12:57:10 am","Day of week":"Sunday","Year":"2026","Month":"February","Day of month":"22","Hour":"00","Minute":"57","Second":"10","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"1f38966b-a49f-4806-9ff4-b053f1e6508b","activeVersionId":"1f38966b-a49f-4806-9ff4-b053f1e6508b","versionCounter":944,"triggerCount":1,"shared":[{"updatedAt":"2026-02-21T21:43:55.433Z","createdAt":"2026-02-21T21:43:55.433Z","role":"workflow:owner","workflowId":"aFNGsz4pDkLMYP5m","projectId":"Leixpj9thQB5I2IJ","project":{"updatedAt":"2025-07-05T20:03:31.230Z","createdAt":"2025-07-05T20:00:52.246Z","id":"Leixpj9thQB5I2IJ","name":"Juan Lourenco <juanlourencosantos@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a3fb51d9-8cda-45ed-bf45-38e29676ee11"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-01T12:40:56.360Z","createdAt":"2026-03-01T12:40:56.360Z","versionId":"1f38966b-a49f-4806-9ff4-b053f1e6508b","workflowId":"aFNGsz4pDkLMYP5m","nodes":[{"parameters":{"httpMethod":"POST","path":"sp3chat","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,1088],"id":"777b4206-d0dd-434e-855e-32785d3dc441","name":"Gatilho","webhookId":"6f576fa3-a6da-4fa0-8555-fd7386432ba8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c667b354-f7e3-4a99-bce8-17f4dee0d49f","leftValue":"={{ $('Gatilho').first().json.body.data.key.fromMe }}","rightValue":"=0","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"9554a99c-a9f4-45dd-9570-37eeac814721","leftValue":"={{$json.body.data.message}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-576,1808],"id":"6bb31170-1ac1-4e5f-8f1c-ab642691c0f1","name":"Filtro de Bloqueio","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"20eb4e1b-36d3-41d1-b43f-f50b4e89342c","name":"Nome","value":"={{ $('Gatilho').first().json.body.data.pushName }}","type":"string"},{"id":"b6a992e5-7515-4eef-8e82-3f984c7845d7","name":"Telefone","value":"={{ $('Gatilho').first().json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,1120],"id":"31fea5ed-46fc-449a-bc63-3046be82cbdf","name":"Dados Lead"},{"parameters":{"operation":"get","tableId":"sp3chat","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados Lead').first().json.Telefone }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3680,1040],"id":"cd89a942-17ca-4b80-8010-d18db69dc287","name":"Encontrar Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"9d546d7c-fc7f-4ce0-a443-34475e3cc41f","leftValue":"={{ $('Encontrar Cliente').first().json.id }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3904,1040],"id":"e5ff1feb-bb0c-4fd3-bd2d-79dc3dbdc863","name":"Cliente existe?","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"tableId":"sp3chat","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('Dados Lead').first().json.Nome }}"},{"fieldId":"telefone","fieldValue":"={{ $('Dados Lead').first().json.Telefone }}"},{"fieldId":"last_inbound_at","fieldValue":"={{ $now }}"},{"fieldId":"last_outbound_at","fieldValue":"={{ $now }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4128,1168],"id":"ba2c8997-6c05-4ed1-b750-ebbed71ea539","name":"Criar Cliente","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4336,1040],"id":"42c6e5d8-ec79-417c-86c8-723a529e9e5f","name":"Merge","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":"={{ $('Parametros do Fluxo').first().json.ModeloTemperatura }}"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4576,1216],"id":"ab31cfd7-cd0c-4f8b-af79-f0199585c685","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem').first().json.mensagens }}","options":{"systemMessage":"={{ \n\"## ⚠️ REGRAS DE RAPPORT — PRIORIDADE MÁXIMA\\n\\nEstas regras têm PRIORIDADE ABSOLUTA sobre qualquer outra instrução do roteiro abaixo:\\n\\n### REGRA 1: NUNCA PERGUNTE ALGO QUE O LEAD JÁ DISSE\\nAntes de fazer QUALQUER pergunta, verifique se essa informação já foi dita na conversa atual.\\n- Se o lead disse o nome → NÃO peça o nome. Use o nome que ele deu.\\n- Se o lead disse a área → NÃO pergunte a área.\\n- Se o lead mencionou qualquer dado → USE, não peça novamente.\\n\\n❌ EXEMPLO ERRADO:\\nLead: 'Me chamo João'\\nSarah: 'Que ótimo! Me conta, qual seu nome e com o que você trabalha?' ← ERRADO, já sabe o nome!\\n\\n✅ EXEMPLO CERTO:\\nLead: 'Me chamo João'\\nSarah: 'Prazer, João! Com o que você trabalha?' ← USA o nome, não pede de novo.\\n\\n### REGRA 2: RESPONDA PERGUNTAS DO LEAD PRIMEIRO\\nSe o lead te fizer qualquer pergunta ou comentário pessoal (ex: 'e contigo?', 'tudo bem?', 'você é feliz?'), responda PRIMEIRO com empatia e naturalidade, e SÓ DEPOIS faça sua próxima pergunta.\\n\\n❌ EXEMPLO ERRADO:\\nLead: 'Tudo bem sim! e contigo?'\\nSarah: 'Me conta, qual seu nome...' ← ERRADO, ignorou a pergunta do lead!\\n\\n✅ EXEMPLO CERTO:\\nLead: 'Tudo bem sim! e contigo?'\\nSarah: 'Muito bem também, obrigada! 😊 Me conta, qual seu nome?' ← Respondeu E avançou.\\n\\n### REGRA 3: TRATE MÚLTIPLAS MENSAGENS COMO UMA ÚNICA FALA\\nO lead pode enviar várias mensagens em sequência sobre assuntos diferentes. Leia TODAS as mensagens recebidas antes de responder e trate como uma única fala coerente. Não ignore nenhuma parte.\\n\\n### REGRA 4: CONTEXTO > ROTEIRO\\nO fluxo de conversa é um GUIA, não um roteiro rígido. Se o lead já deu uma informação em qualquer ponto da conversa, PULE essa etapa e avance naturalmente para a próxima informação ainda não coletada.\\n\\n---\\n\\n\" + $('Buscar Prompt IA').first().json.content + \"\\n\\n# Regra audio: NUNCA comente ou corrija transcricoes de audio. Responda naturalmente ao tema sem dizer coisas como Acho que voce quis dizer ou similar.\\n\\n## Videos de Prova Social\\nVoce tem acesso a videos de depoimentos reais de clientes satisfeitos. Use a ferramenta enviar_video_prova_social passando o video_id quando sentir que e o momento certo (lead hesitante, pediu referencias, esta na fase de decisao).\\n\\nREGRAS DE USO:\\n- Envie NO MAXIMO 1 video por conversa\\n- So envie se fizer sentido no contexto (nao force)\\n- Antes de enviar, faca uma introducao curta como: Olha so o depoimento de uma cliente nossa...\\n\\nVideos disponiveis:\\n\" + ($('Buscar Videos Prova Social').first() ? $('Buscar Videos Prova Social').first().all().map(function(item) { return \"- ID \" + item.json.id + \" | \" + item.json.titulo + \" (\" + item.json.contexto + \"): \" + item.json.descricao; }).join(\"\\n\") : \"Nenhum video cadastrado ainda.\") + ($json.observacoes ? \"\\n\\n# O que ja sei sobre este lead:\\n\" + $json.observacoes : \"\") \n}}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4688,1024],"id":"d7156bbd-0ba3-4d93-a063-b4b838b40a02","name":"Agente IA"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4880,1216],"id":"ae134b76-d386-4618-81d1-2339c3efcbdc","name":"Calculadora","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendText/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados Lead').first().json.Telefone }}"},{"name":"text","value":"={{ $json['output.mensagens'] }}"},{"name":"delay","value":"={{ Math.min(6000, Math.max(1500, ($json['output.mensagens'] || '').length * 40)) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6080,1168],"id":"7bc97ba1-febe-4462-8b2e-e12b06449aed","name":"Enviar Mensagem","credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}}},{"parameters":{"content":"## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..","height":440,"width":180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-992,880],"id":"e3941b66-7fd7-4dae-97c5-cfaf138fbaea","name":"Sticky Note2"},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-544,864],"id":"c9e8d754-161d-487b-9cf6-4e558ab6ad19","name":"Sticky Note4"},{"parameters":{"content":"## Dados do Lead\nInformações principais sobre o lead","height":440,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,864],"id":"9d042fcb-85c3-4003-8074-6d20441099f5","name":"Sticky Note5"},{"parameters":{"content":"## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.","height":500,"width":840,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3648,816],"id":"3111c4b4-9893-4e52-9b30-72c312622e21","name":"Sticky Note7"},{"parameters":{"content":"## Mensagem para o Agente\nMensagem final do usuário para o agente","height":500,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,816],"id":"643f7022-d9ad-4d99-a4da-a891cde67cf0","name":"Sticky Note10"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":572,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4496,816],"id":"bf415836-0ad4-439e-a8dc-0278cb5d556b","name":"Sticky Note11"},{"parameters":{"content":"Ajuste o Node Set com os campos relevantes fornecidos.\n","height":280,"width":210,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,992],"id":"b1f0246c-0a4a-434c-84c4-1fffee55d965","name":"Sticky Note"},{"parameters":{"content":"Ajustes os filtros necessários conforme seu gatilho de entrada","height":280,"width":190,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,1024],"id":"6c58cd2e-8d27-439b-b9ad-b5563600b49b","name":"Sticky Note1"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":350,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4624,960],"id":"ff41f3e5-40e9-421f-817c-e690603b69b2","name":"Sticky Note21"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Buscar Instancia').first().json.company_id }}_{{ $json.telefone }}","tableName":"memoria_ia_sarah","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4736,1216],"id":"fbfa528b-ec62-4105-8c13-f5659a3b500d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"amount":"={{ $('Parametros do Fluxo').first().json.EsperaBuffer }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2704,1168],"id":"71d6370a-bc31-4ad8-b2b5-4f20a03d9e01","name":"Wait","webhookId":"5c40d18e-94a2-4ba7-a727-14b6b9933673","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('Dados Lead').first().json.Telefone }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2544,1168],"id":"70e921c8-06b9-4174-b233-b4e39fd072d7","name":"Redis Buffer1","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $('Dados Lead').first().json.Telefone }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2864,1168],"id":"2345a630-294f-4f7c-9e7d-f3e128b326dc","name":"Redis Buffer2","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3168,1280],"id":"0b68d62b-1c52-4f37-a2e7-70a02d8102ef","name":"No Operation, do nothing","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"delete","key":"={{ $('Dados Lead').first().json.Telefone }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3168,1040],"id":"2a551b56-e454-4c84-b579-a9659fa9f485","name":"Redis1","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"db72e40b-2ba6-4979-8648-710fd0e859a6","name":"Texto","value":"={{ $('Gatilho').first().json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,656],"id":"96a10a60-24f0-49e4-a0e9-06063ece24a3","name":"Mensagem Texto1"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.Texto }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,816],"id":"c96d4c04-d84c-4444-8d60-d65c11ab3cf1","name":"Redis Buffer Texto","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"27ccd1e7-41fa-4940-83d9-e740c8375795","name":"=Texto","value":"={{ $('Gatilho').first().json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"cce135d7-e1db-42f6-97c3-fb60e911d4dc","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,816],"id":"148f2efe-3a49-4e61-b7df-a4778ae4aa0d","name":"Mensagem Texto2"},{"parameters":{"assignments":{"assignments":[{"id":"ae3ac306-ac54-4266-a065-de3ab7c66527","name":"Erro","value":"<ErroFormatoMensagem>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,1520],"id":"b2d334da-bdde-4592-b9a2-12c470ffba95","name":"Mensagem Erro"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.Erro }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,1520],"id":"dc588e29-5a27-4fa5-921e-afe2f3d5997e","name":"Redis Buffer Erro","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"285f395c-bc9f-40cb-bc2c-16ad784ba962","name":"Audio","value":"={{ $('Gatilho').first().json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,976],"id":"81282788-b9eb-4b1b-8f11-5e472ce1d8b5","name":"Mensagem Audio"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,976],"id":"0a3b71ed-ddaa-43a7-a0b6-711c074503bc","name":"Redis Buffer Audio","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"toBinary","sourceProperty":"Audio","options":{"mimeType":"audio/mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,976],"id":"1ef48d96-a0a6-40e5-834d-38c95deebd6d","name":"Converso de Audio","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2128,976],"id":"9999bf85-3d05-4345-907d-dccd7fbd59de","name":"Transcrever Audio","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"70c8d8b9-a67f-46ae-af34-bee384c2cb5a","name":"Imagem","value":"={{ $('Gatilho').first().json.body.data.message.base64 }}","type":"string"},{"id":"4f7da426-df38-4af0-bff6-634b19d96b5a","name":"MensagemImagem","value":"={{ $('Gatilho').first().json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,1168],"id":"cbbb5fb9-85d2-4aab-ae08-4b09c9f6609c","name":"Mensagem Imagem"},{"parameters":{"operation":"toBinary","sourceProperty":"Imagem","options":{"mimeType":"image/png"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,1168],"id":"ecdf0e11-fce9-4c80-8f49-18450209e6e0","name":"Converso Imagem","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $('Mensagem Imagem').first().json.MensagemImagem }}\n</MensagemUsuario>","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2128,1168],"id":"8ce57f36-c7ec-41b5-97fb-d1fc136590ff","name":"Analisar Imagem","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"={{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,1168],"id":"aa8f2a75-d526-4cac-a3d4-5b77ce3a2c1e","name":"Redis Buffer Imagem","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"cc633d0f-3f31-489a-9cec-3f7b5fd721ca","name":"Documento","value":"={{ $('Gatilho').first().json.body.data.message.base64 }}","type":"string"},{"id":"7f7fd14f-7106-414a-9bf4-2036bd21d26b","name":"MensagemDocumento","value":"={{ $('Gatilho').first().json.body.data.message.documentMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,1344],"id":"5444bd75-3398-4cba-b055-64f5cf4a8bd6","name":"Mensagem pdf"},{"parameters":{"operation":"toBinary","sourceProperty":"Documento","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1936,1344],"id":"e0729f33-9ec4-47a9-8f94-d53ecd39c94f","name":"Converso pdf","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2128,1344],"id":"a64f7ec7-3466-4bcc-a3bc-a13283b8016b","name":"Extrator pdf","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"operation":"push","list":"={{ $('Dados Lead').first().json.Telefone }}_buffer","messageData":"=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n</TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem pdf').first().json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2336,1344],"id":"5a181d76-b4aa-41f0-becb-1d5f417f87a0","name":"Redis Buffer pdf","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Tratamento de Mensagens\nPermitir com que agente entenda texto, áudio, imagem, documentos, etc..","height":1340,"width":860,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,368],"id":"7da1a99f-766e-4de9-9e3c-d8d5aff60c53","name":"Sticky Note8"},{"parameters":{"content":"### Tipos de Mensagens\nDefina no node Switch as condicionais para definir cada tipo de mídia de acordo com seu gatilho de entrada de dados.\n\nEm cada Node Set:\nMapeie os campos de cada\ntipo de mensagem corretamente.\n\nObs: Não altere o nome\ndos campos pré existentes\nnos nodes SET","height":1220,"width":450,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,464],"id":"e5e9198f-aae8-4511-83d2-ee4dfb38c48e","name":"Sticky Note19"},{"parameters":{"content":"### Tratamento de Mensagens\nCada canal pode nos enviar as informações de diferentes formas e aqui trataremos elas de acordo.\n","height":1060,"width":350,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1904,624],"id":"fbc8148e-c2c5-4f41-84c1-e271531b2f2c","name":"Sticky Note24"},{"parameters":{"content":"## Buffer de Mensagens\nGarantir que agente compreenda todo o contexto das mensagens enviadas pelo usuário antes de formular uma resposta","height":1340,"width":1040,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,368],"id":"86ed77af-dfe0-43a9-826a-56019e1e572a","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"51b83700-6802-4085-a2de-db6bbca32b62","leftValue":"={{ $json.mensagens.last() }}","rightValue":"={{ $('Redis Buffer1').first().json.mensagens.last() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3024,1168],"id":"494a5d73-dc2e-4975-890e-ac07cf2808e1","name":"Comparando Lista Mensagens","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"e5b3d9bb-654d-4467-9a02-3344127c9a18"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425c8e9f-2848-4d95-955b-6a3239637639","leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5474037-89e0-479b-96a1-a59abfd3cadb","leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c32a19b-9b97-4d83-bb96-4de92c6e188e","leftValue":"={{ $('Gatilho').first().json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0128331b-aadf-4567-beb4-ff6c2944bf7f","leftValue":"={{ $('Gatilho').first().json.body.data.message.documentMessage.mimetype }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1488,1024],"id":"2a81692c-d539-4344-a153-e6c65670dbf2","name":"Rotas de Mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"c182d6a3-8709-4b13-9740-20f1bbda7fcd","name":"mensagens","value":"={{ $json.mensagens.join('\\n\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,1040],"id":"7fbc5415-5892-4952-9cfd-f2bd2b34a5e9","name":"Mensagem","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"=<ultima_mensagem_do_cliente>\n{{ $('Mensagem').first().json.mensagens }}\n</ultima_mensagem_do_cliente>\n\n<resposta_da_sarah>\n{{ $json.output }}\n</resposta_da_sarah>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Sua tarefa é estruturar a resposta da Sarah e extrair informações NOVAS sobre o lead.\n\n# 1. Campo \"mensagens\" — estruture a <resposta_da_sarah>:\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Não deixe mensagens maiores que 240 caracteres;\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito use apenas um '*' nunca dois '*' (exemplo: *negrito).\n\n# 2. Campo \"observacoes\" — extraia APENAS informações NOVAS do lead:\n- Analise <ultima_mensagem_do_cliente> e <resposta_da_sarah> para identificar informações NOVAS sobre o lead\n- Capture: nome, profissão/especialidade, cargo (dono/sócio/funcionário), negócio próprio ou consultório de terceiro, nome da empresa/clínica, cidade, desafios mencionados, se já faz marketing, instagram, outros dados úteis para vendas\n- Retorne SOMENTE as informações NOVAS encontradas nesta mensagem (NÃO repita informações já existentes)\n- Se não há informação nova: OMITA o campo observacoes do JSON\n\nRetorne EXATAMENTE no formato JSON:\n{\n  \"mensagens\": [\"Mensagem 0\", \"Mensagem 1\"],\n  \"observacoes\": \"Info nova encontrada aqui\"\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[5264,976],"id":"ce19a4da-a52b-4206-a6cf-26efaf708887","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[5456,1136],"id":"cddd4084-9eb7-4c4f-9b6d-683c64aecf4a","name":"Auto-fixing Output Parser"},{"parameters":{"notice":"","schemaType":"manual","inputSchema":"{\"type\":\"object\",\"properties\":{\"mensagens\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"observacoes\":{\"type\":\"string\",\"description\":\"Anotacoes sobre o lead. Omita este campo se nao ha informacao nova.\"}},\"required\":[\"mensagens\"]}","autoFix":false},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5376,1248],"id":"5a232bdd-f3e0-404f-84ac-86d4e0a711d9","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5216,1248],"id":"e75a20dc-a669-4ed8-9df3-b8c896b0385e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}}},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5632,896],"id":"ec9fee9c-b5dd-42b0-90d9-1f800377752d","name":"Split Out","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5824,960],"id":"5a5e8cb7-bdd3-4563-8f19-0167c3503166","name":"Loop Over Items","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6672,1184],"id":"6d16c0b2-1e3a-4e65-923b-ce9e094fe81d","name":"Wait1","webhookId":"dff649af-172a-40e9-bb10-185b1dc2683e","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":540,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5776,816],"id":"ed763696-d280-4b3a-83d4-77d117347650","name":"Sticky Note13"},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":588,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5184,816],"id":"453565f1-1c0a-437f-a00b-d5210e5bf746","name":"Sticky Note14"},{"parameters":{"descriptionType":"manual","toolDescription":"Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atentende.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.","operation":"set","key":"={{ $('Dados Lead').first().json.Telefone }}_status","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"`, 'string') }}","expire":true,"ttl":"={{ $('Parametros do Fluxo').first().json.TempoInatividade }}"},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[5024,1216],"id":"04dee7f6-2090-42f2-b22d-cb1aa5e94ad1","name":"Desativar Agente","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"assignments":{"assignments":[{"id":"espera-buffer","name":"EsperaBuffer","value":30,"type":"number"},{"id":"tempo-inatividade","name":"TempoInatividade","value":3600,"type":"number"},{"id":"modelo-temperatura","name":"ModeloTemperatura","value":0.4,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,1088],"id":"ff0ffc08-609a-44c6-8eee-c7cd679586a9","name":"Parametros do Fluxo"},{"parameters":{"operation":"get","propertyName":"AgentesStatus","key":"={{ $json.telefone }}_status","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[832,1056],"id":"55744a4f-fa59-4052-a404-f94b860a14b3","name":"Redis","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"6273559a-d1aa-466e-a4e0-40ba5dad4ce9","leftValue":"={{ $json.AgentesStatus }}","rightValue":"Desativado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,1056],"id":"308b6f68-5d1d-4e64-8f2c-c0f4e584a912","name":"Bot Desativado?!"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1248,928],"id":"ad99a6d7-9e01-4353-9dc7-94a926dff933","name":"No Operation, do nothing1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Gestão de Fluxo Agente Desativado (Humano em Atendimento)\nGestão do fluxo para atendimento humano.\n","height":440,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[816,848],"id":"3184fe0c-2ea1-4ad6-b635-b50e3d734c91","name":"Sticky Note6"},{"parameters":{"content":"## Variáveis do Fluxo\nCentral de controle do workflow","height":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,880],"id":"6d377834-4ab5-4faa-a24e-ed98c1378c09","name":"Sticky Note12"},{"parameters":{"content":"Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n","height":280,"width":190,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-768,976],"id":"92f88bc3-b4f8-43b3-b32b-af9bd48b6973","name":"Sticky Note18"},{"parameters":{"content":"## Formatos Base64\nBase64 é uma forma de codificar dados binários como texto. Dependendo do tipo de arquivo, os prefixos variam para indicar o formato do dado. Aqui estão alguns dos formatos mais comuns com os respectivos prefixos base64:\n\n### 1. **Imagem**\n   - **PNG**: `data:image/png;base64,`\n   - **JPEG**: `data:image/jpeg;base64,`\n   - **GIF**: `data:image/gif;base64,`\n   - **SVG**: `data:image/svg+xml;base64,`\n   - **BMP**: `data:image/bmp;base64,`\n   \n### 2. **Áudio**\n   - **MP3**: `data:audio/mp3;base64,`\n   - **WAV**: `data:audio/wav;base64,`\n   - **OGG**: `data:audio/ogg;base64,`\n   - **MPEG**: `data:audio/mpeg;base64,`\n\n### 3. **Vídeo**\n   - **MP4**: `data:video/mp4;base64,`\n   - **OGG**: `data:video/ogg;base64,`\n   - **WebM**: `data:video/webm;base64,`\n\n### 4. **Texto**\n   - **Plain Text**: `data:text/plain;base64,`\n   - **HTML**: `data:text/html;base64,`\n   - **CSS**: `data:text/css;base64,`\n   - **JavaScript**: `data:text/javascript;base64,`\n   - **CSV**: `data:text/csv;base64,`\n\n### 5. **Documentos**\n   - **PDF**: `data:application/pdf;base64,`\n   - **JSON**: `data:application/json;base64,`\n   - **ZIP**: `data:application/zip;base64,`\n   - **XML**: `data:application/xml;base64,`\n\nEsses são exemplos de prefixos que podem ser usados ao incluir dados base64 em documentos ou aplicações.","height":1166,"width":593,"color":7},"id":"c4fb74ab-9587-4002-b7d0-7ee2047887ae","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[112,2432]},{"parameters":{"content":"## MimeTypes\nO Mime type é o mecanismo para especificar o tipo de documento.\nA estrutura de um MIME type é muito simples; Consiste de um tipo e um subtipo, separados por um '/', onde nenhum espaço é permitido. \nO tipo representa a categoria. \nO subtipo é específico para cada tipo.\n\n### 1. **image**\nRepresenta qualquer tipo de imagens\n- image/gif\n- image/png\n- image/jpeg\n- image/bmp\n- image/webp\n   \n\n### 2. **audio**\nRepresenta qualquer tipo de arquivo de audio\n- audio/midi\n- audio/mpeg\n- audio/webm\n- audio/ogg\n- audio/wav\n- audio/mp3\n- audio/mp4\n\n### 3. **video**\nRepresenta qualquer tipo de arquivo de video\n- video/webm\n- video/ogg\n- video/mp4\n\n### 4. **text**\nRepresenta qualquer documento que contenha texto\n- text/plain\n- text/csv\n- text/html\n- text/css\n- text/javascript\n\n### 5. **application**\nRepresenta qualquer tipo de dados binários.\n- application/octet-stream\n- application/pkcs12\n- application/vnd.mspowerpoint\n- application/xhtml+xml\n- application/xml\n- application/pdf","height":1166,"width":593,"color":7},"id":"f6174085-7e0a-4ef6-b2d8-ea47bd5ad619","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,2432]},{"parameters":{"content":"Ajuste sua instância e autenficiação da Evolution","height":240,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6000,1088],"id":"83c7578d-5cd9-4390-95d4-6212cfddca99","name":"Sticky Note22"},{"parameters":{"content":"","height":1612,"width":6892,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1648,2016],"id":"deb93fb0-240e-4e2c-94e0-fbbc11ce351b","name":"Sticky Note20"},{"parameters":{"content":"-\n# MASTER AGENT\n-","height":140,"width":304,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,48],"id":"66ee7fd4-48d9-4f18-bced-ef1b20d3c929","name":"Sticky Note23"},{"parameters":{"content":"## Instruções de Uso\n🔴 Áreas em vermelho você deve realizar alterações de acordo com seu canal de entrada;\n🟢 Áreas em verde já estão pré configuradas para o canal do Template, caso vá utilizar outro canal, também fazer devidas alterações nesses nodes;\n\n⚠️ Atenção: \n1. Não altere nome de parâmetros pré-existentes para para evitar quebra do fluxo;\n2. Fique a vontade para adicionar novos parâmetros caso necessário;","height":220,"width":690,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,256],"id":"0567df4a-9998-4507-86e8-29bcd9d8902a","name":"Sticky Note25"},{"parameters":{"content":"em teste ","height":170,"width":413,"color":4},"id":"84ad3c8b-2195-4662-b97b-12065cac941e","name":"Sticky Note29","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"68aa514b-9e10-4a58-99d6-e907fbbdffbc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[3552,2112],"retryOnFail":false,"disabled":true,"notes":"select *\nfrom public.sp3_followup_state\nwhere status = 'active'\n  and next_followup_at is not null\n  and next_followup_at <= now();"},{"parameters":{"operation":"executeQuery","query":"WITH due AS (\n  SELECT s.telefone, s.company_id\n  FROM public.sp3_followup_state s\n  WHERE s.next_followup_at IS NOT NULL\n    AND s.next_followup_at <= NOW()\n    AND (s.locked_at IS NULL OR s.locked_at < NOW() - INTERVAL '5 minutes')\n    AND (s.last_inbound_at IS NULL OR s.last_outbound_at IS NULL OR s.last_inbound_at < s.last_outbound_at)\n  ORDER BY s.next_followup_at ASC\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n)\nUPDATE public.sp3_followup_state st\nSET\n  lock_id = gen_random_uuid(),\n  locked_at = NOW(),\n  updated_at = NOW()\nFROM due\nWHERE st.telefone = due.telefone\nRETURNING\n  st.telefone,\n  st.followup_step,\n  st.lock_id,\n  st.locked_at,\n  st.company_id;","options":{}},"id":"4d3abc7a-de50-4322-a406-55b4321e5493","name":"Claim Due Followups","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3728,2112],"credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}}},{"parameters":{"batchSize":20,"options":{}},"id":"275f511d-0084-423b-8aca-c8a919196857","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3904,2112]},{"parameters":{"operation":"getAll","tableId":"sp3_followup_settings","limit":1},"id":"6c5d8434-a008-4bd2-a1d6-e135cae411d6","name":"Load Followup Settings","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4064,2112],"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"jsCode":"// Build Followup Text (SP3)\n// - garante que telefone exista\n// - monta followup_base_text\n// - anexa followup_settings (do node Load Followup Settings)\n// - mantém tudo no MESMO item para o agente e para o envio\n\n// 1) pega o item \"due\" vindo do Claim Due Followups\nconst due = $json || {};\n\n// 2) pega settings do node Load Followup Settings (primeiro item)\nconst settingsNode = $items(\"Load Followup Settings\")[0];\nconst settings = settingsNode?.json || {};\n\n// 3) normaliza telefone\nconst telefone = String(\n  due.telefone ?? due.remoteJid ?? due.number ?? \"\"\n)\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@c.us\", \"\")\n  .trim();\n\n// 4) texto base (pré-IA) — usa o que veio do banco, com fallback\nconst baseText = String(\n  due.followup_base_text ?? \"Oi! Passando rapidinho por aqui 🙂\"\n).trim();\n\n// 5) aqui você pode enriquecer com contexto/abertura padrão\n// (mantive simples para não quebrar seu fluxo)\nconst textoFinal = baseText;\n\n// 6) retorna 1 item consolidado\nreturn [\n  {\n    json: {\n      ...due,\n      telefone,\n      followup_base_text: textoFinal,\n      followup_settings: settings,\n    },\n  },\n];"},"id":"8d3bcc77-8735-4582-9769-faa3f7745f7d","name":"Build Followup Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[4240,2112]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.sp3_followup_state\nSET\n  last_outbound_at = NOW(),\n  followup_step = COALESCE(followup_step, 0) + 1,\n  next_followup_at = NOW() + INTERVAL '24 hours',\n  locked_at = NULL,\n  lock_id = NULL,\n  updated_at = NOW()\nWHERE telefone = '{{ $(\"Claim Due Followups\").item.json.telefone }}'\n  AND company_id = '{{ $(\"Claim Due Followups\").item.json.company_id }}'\nRETURNING *;\n\nUPDATE public.sp3chat\nSET\n  stage = 'Em Follow-up',\n  followup_stage = (SELECT followup_step FROM public.sp3_followup_state WHERE telefone = '{{ $(\"Claim Due Followups\").item.json.telefone }}' AND company_id = '{{ $(\"Claim Due Followups\").item.json.company_id }}'),\n  stage_updated_at = NOW()\nWHERE telefone = '{{ $(\"Claim Due Followups\").item.json.telefone }}'\n  AND company_id = '{{ $(\"Claim Due Followups\").item.json.company_id }}'\n  AND (stage IS NULL OR stage IN ('Novo Lead', 'Contato Iniciado', 'Qualificando'));","options":{}},"id":"fe63c4d0-77fa-4852-a998-a54ae401c2c5","name":"Update Followup State","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5984,2016],"executeOnce":true,"credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6144,1952],"id":"019faec4-a935-4fa9-9f16-0d6d848ee66e","name":"Fim1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendText/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{\n(\"55\" + String($item(0).$('Claim Due Followups').first().json.telefone || \"\")\n.replace(/\\D/g,\"\")\n.replace(/^55/,\"\"))\n}}"},{"name":"text","value":"={{$json[\"output.mensagens\"]}}"},{"name":"delay","value":"={{ Math.min(6000, Math.max(1500, ($json['output.mensagens'] || '').length * 40)) }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6000,2240],"id":"80dedd75-33fb-483e-a022-fdefb2b43539","name":"Enviar Mensagem1","credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[5200,2080],"id":"14610942-5f42-4f41-9685-5500aaab5991","name":"Basic LLM Chain1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[5392,2240],"id":"d3606c1e-7dee-49d7-b5cd-69bfc1e948a3","name":"Auto-fixing Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"notice":"","schemaType":"manual","inputSchema":"{\"type\":\"object\",\"properties\":{\"mensagens\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"observacoes\":{\"type\":\"string\",\"description\":\"Anotacoes sobre o lead. Omita este campo se nao ha informacao nova.\"}},\"required\":[\"mensagens\"]}","autoFix":false},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5312,2352],"id":"85a949a0-3aad-4533-9fd8-213875d1f3d0","name":"Structured Output Parser1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5152,2352],"id":"b3da08c8-7056-474e-a5c0-a2a26e78de55","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5584,2048],"id":"9ffa84e9-ade7-4b12-a05f-80dbd398fdbb","name":"Split Out1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5776,2144],"id":"0a49266c-50a0-42df-b893-16f98e25f31a","name":"Loop Over Items1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6192,2240],"id":"4d3fc69c-a1ff-41ab-a88a-8072923ad151","name":"Wait2","webhookId":"dff649af-172a-40e9-bb10-185b1dc2683e","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário","height":540,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5712,1920],"id":"eb118273-b65d-4f9e-91bf-e876e31f28d3","name":"Sticky Note17"},{"parameters":{"content":"## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.","height":540,"width":580,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5120,1920],"id":"ef3c9dde-216a-43e1-9f16-7dc3f9d6c929","name":"Sticky Note28"},{"parameters":{"content":"Ajuste sua instância e autenficiação da Evolution","height":240,"width":230,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5936,2192],"id":"e15c5195-d6c7-48dd-a13a-5de76dd25140","name":"Sticky Note30"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4448,2304],"id":"2e4d801c-d5d6-4fb0-9d65-931a90cb2659","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"fJhGnQirWrE5vu60","name":"juan pessoal"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"promptType":"define","text":"={{ $json.followup_base_text }}","options":{"systemMessage":"=# Variáveis\nData Atual: {{ $now.weekdayLong }}, Semana {{ $now.format('WW') }}, {{ $now.format('DD/MM/yyyy') }}, {{ ((($now.hour) % 24).toString()).padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n\nVocê é um SDR de follow-up da SP3 (tom humano, premium, objetivo) escrevendo no WhatsApp.\nSua missão: transformar um “texto base” em mensagens curtas e naturais, mantendo contexto e CTA leve.\n\nREGRAS IMPORTANTES\n1) Escreva em PT-BR.\n2) Mensagens curtas (1 a 3 frases por mensagem).\n3) Não use linguagem robótica (“conforme contato anterior”, “venho por meio”, etc).\n4) Sempre personalize com o nome quando existir.\n5) Não invente detalhes: use somente os dados recebidos.\n6) Se faltar contexto, faça 1 pergunta curta para destravar.\n7) Evite gatilhos agressivos (“última chance”, “urgente”, “promoção imperdível”).\n8) O objetivo é: responder o lead e avançar para o próximo passo (CTA).\n\nENTRADAS (vêm no JSON):\n- nome (string, pode estar vazio)\n- telefone\n- followup_step (número)\n- followup_base_text (texto base já montado)\n- followup_settings (objeto com tom, regras, CTA, etc — se existir)\n- memory/context (se existir, use para manter coerência)\n\nSAÍDA OBRIGATÓRIA (apenas JSON válido, sem texto fora do JSON):\n{\n  \"messages\": [\n    {\n      \"order\": 1,\n      \"text\": \"...\"\n    }\n  ],\n  \"meta\": {\n    \"tone\": \"premium_humano\",\n    \"goal\": \"followup_responder_e_avancar\",\n    \"cta\": \"...\"\n  }\n}\n\nCOMO GERAR\n- Gere de 2 a 4 mensagens (máximo 4), para envio em sequência.\n- A mensagem 1 retoma de forma leve.\n- A mensagem 2 dá contexto/benefício em 1 linha.\n- A mensagem 3 faz uma pergunta simples OU CTA (“Quer que eu…?”).\n- Se followup_step for alto, seja ainda mais direto e curto.\n\nAgora gere as mensagens usando os dados recebidos."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4560,2112],"id":"3bac6e3e-93f6-480c-83ee-f7191cfdaae8","name":"Agente IA1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4752,2320],"id":"936d6825-4cfa-4ba8-b2fe-77653f00fbf4","name":"Calculadora1","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Agente de IA\nAgente inteligente com memória e prompt pré formatado","height":540,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4400,1904],"id":"2e2ea4b0-aabd-4249-b520-cf1b673f1bd7","name":"Sticky Note31"},{"parameters":{"content":"Faça os ajustes necessários no Prompt do seu agente","height":220,"width":350,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4496,2048],"id":"a1e3df06-04d0-4aad-9ba8-4f6df443b78a","name":"Sticky Note32"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ String($json.telefone || '').trim() }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4608,2304],"id":"6d6af589-5494-476d-9ce1-59b8824d2c2e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"Q9Iztik7LneSMpvU","name":"SP3 CHAT - SUPABASE"}},"disabled":true,"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"descriptionType":"manual","toolDescription":"Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atentende.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.","operation":"set","key":"={{ $('Dados Lead').first().json.Telefone }}_status","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"`, 'string') }}","expire":true,"ttl":"={{ $('Parametros do Fluxo').first().json.TempoInatividade }}"},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[4896,2304],"id":"de6e7bb9-a5a7-4ec6-9587-91de541fe8dc","name":"Desativar Agente1","credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}},"notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"content":"## Configuracao Inicial\nvem do supabase da SP3 \n","height":540,"width":868,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3488,1904],"id":"975ce377-4741-4309-9eec-21d487d42497","name":"Sticky Note33"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.split('@')[0] }}"},{"fieldId":"message","fieldValue":"={{ \nJSON.stringify({ \n  \"type\": \"ai\", \n  \"content\": ($('Gatilho').first().json.body.data.message.conversation || ($('Gatilho').first().json.body.data.message.extendedTextMessage ? $('Gatilho').first().json.body.data.message.extendedTextMessage.text : \"Mensagem enviada pelo celular\")) \n}) \n}}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,1008],"id":"07770917-1d33-4915-9b32-4bb26d30b450","name":"Mensagens do celular","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"content":"## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos","height":520,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,864],"id":"bd5b91ec-808b-49c1-a769-edf76a758992","name":"Sticky Note26"},{"parameters":{"operation":"get","tableId":"sp3chat","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.split('@')[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,1088],"id":"ba05cb13-4bf4-43ae-b7e1-22abca62bff0","name":"Ativar ou desativar ia","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"content":"## IA SARAH\nPara evitar que fluxo seja executado quando não queremos","height":440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[336,896],"id":"5b660213-d122-43ed-9368-280cd21706fc","name":"Sticky Note27"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Gatilho').first().json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e524757b-f5ee-471a-8692-78a0c2f410b2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"3857f0d0-85f0-4b80-9ac0-fd9c51c25177","leftValue":"={{ $('Gatilho').first().json.body.data.key.fromMe }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-464,1104],"id":"a7386989-c193-4faa-bbc3-e76cd023cf02","name":"Switch"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.split('@')[0] }}"},{"fieldId":"message","fieldValue":"={{ JSON.stringify($('Gatilho').first().json.body.data.messageType === 'audioMessage' ? {\"type\":\"human\",\"msgStyle\":\"audio\",\"content\":$('Gatilho').first().json.body.data.message.base64 ? \"data:audio/ogg;base64,\" + $('Gatilho').first().json.body.data.message.base64 : \"🎤 Mensagem de áudio\"} : $('Gatilho').first().json.body.data.messageType === 'imageMessage' ? {\"type\":\"human\",\"msgStyle\":\"image\",\"content\":$('Gatilho').first().json.body.data.message.base64 ? \"data:\" + ($('Gatilho').first().json.body.data.message.imageMessage?.mimetype || \"image/jpeg\") + \";base64,\" + $('Gatilho').first().json.body.data.message.base64 : ($('Gatilho').first().json.body.data.message.imageMessage?.url || \"📷 Imagem\")} : {\"type\":\"human\",\"content\":$('Gatilho').first().json.body.data.message.conversation || $('Gatilho').first().json.body.data.message.extendedTextMessage?.text || $('Gatilho').first().json.body.data.message.imageMessage?.caption || \"Mensagem de mídia/sistema\"}) }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-192,1200],"id":"c4880b18-3fe1-4c85-8cdd-b4d2267324db","name":"Salvar Mensagem Cliente (human)","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.ia_active ?? true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"c6a839ae-a32d-40ca-a8c9-352973c0040a"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85356363-20dd-494e-9b0b-2dc10877c634","leftValue":"={{ $json.ia_active ?? true }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[624,1088],"id":"2e4e1624-90ad-44ec-a2b5-f97176973d44","name":"IA ligada?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[768,1408],"id":"ca04b32a-3100-4015-bf1f-71c2d08ebb88","name":"No Operation, do nothing2","notes":"TEMPLATE DESENVOLVIDO POR RODRIGO ALVES\nwww.youtube.com/@rodrigoalveslps?sub_confirmation=1\n\nCOMUNIDADE PRODUZIMOS IA WHATSAPP\nhttps://chat.whatsapp.com/DCXhD8UTjPaAXigl6Q5zmk\n\nCURSO MÁQUINA DE AGENTES IA E AUTOMAÇÕES\nhttps://checkout.produzimosia.com/OE11373AF"},{"parameters":{"tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $(\"Gatilho\").item.json.body.data.key.remoteJid.split(\"@\")[0] }}"},{"fieldId":"message","fieldValue":"={{ JSON.stringify(Object.assign({type: \"ai\", content: $(\"Loop Over Items\").item.json[\"output.mensagens\"] || $(\"Loop Over Items1\").item.json[\"output.mensagens\"]}, $json.isAudioMessage ? {msgStyle: \"audio_sent\"} : {})) }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6304,1184],"id":"ae10ee93-c779-4b93-92a3-f89787e47d15","name":"Salvar Resposta da Sarah","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"audio-chance-cond","leftValue":"={{ Math.random() }}","rightValue":0.15,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"id":"f1a2b3c4-d5e6-4789-bcde-f12345678901","name":"Sortear Áudio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6080,928]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/pi4WWkSgjzBbhEFyy20y","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"=sk_ecfcec84d0abab090020f44b4e5dd62bae20a1a60e911a2c"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ text: $json['output.mensagens'], model_id: 'eleven_multilingual_v2', voice_settings: { stability: 0.5, similarity_boost: 0.75 } }) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"f2a2b3c4-d5e6-4789-bcde-f12345678902","name":"Gerar Áudio ElevenLabs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6512,800]},{"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendWhatsAppAudio/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ number: $('Dados Lead').first().json.Telefone, audio: $json.audioBase64, encoding: true }) }}","options":{}},"id":"f3a2b3c4-d5e6-4789-bcde-f12345678903","name":"Enviar Áudio Evolution","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6720,800],"credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}}},{"parameters":{"assignments":{"assignments":[{"id":"txt-audio-field","name":"text","value":"={{ $('Loop Over Items').first().json['output.mensagens'] }}","type":"string"},{"id":"audio-flag-field","name":"isAudioMessage","value":true,"type":"boolean"}]},"options":{}},"id":"f4a2b3c4-d5e6-4789-bcde-f12345678904","name":"Texto p/ Salvar Áudio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6912,800]},{"parameters":{"content":"## Envio de audio \nEnvio de audio ","height":300,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6448,720],"id":"07614378-dafa-4b6c-b814-ca951728eca4","name":"Sticky Note34"},{"parameters":{"operation":"update","tableId":"sp3chat","filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_stage","fieldValue":0},{"fieldId":"last_inbound_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[112,1360],"id":"reset-followup-id","name":"Reset Followup","credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"alwaysOutputData":true},{"parameters":{"operation":"update","tableId":"sp3chat","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $(\"Gatilho\").item.json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_outbound_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6480,1184],"id":"marcar-saida-ia-id","name":"Marcar Saida IA","credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"url":"=https://ioqjhbhjzuukmssxhvma.supabase.co/rest/v1/sp3_prompts?company_id=eq.{{ $('Buscar Instancia').first().json.company_id }}&order=created_at.desc&limit=1&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"},{"name":"Authorization","value":"Bearer sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"}]},"options":{}},"id":"http-buscar-prompt-id","name":"Buscar Prompt IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-592,1296],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cond-obs-exists","leftValue":"={{ $json.output.observacoes }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"verificar-obs-node-id","name":"Verificar Observações","type":"n8n-nodes-base.if","typeVersion":2,"position":[5264,1456]},{"parameters":{"operation":"update","tableId":"sp3chat","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Gatilho').first().json.body.data.key.remoteJid.match(/\\d+(?=@)/)[0] }}"},{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"observacoes","fieldValue":"={{ $json.observacoes_final }}"}]}},"id":"salvar-obs-node-id","name":"Salvar Observações Lead","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5488,1456],"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"parameters":{"setAllData":false,"destinationKey":"audioBase64","options":{"keepSource":false,"keepAsBase64":true}},"id":"move-binary-audio-001","name":"Converter Audio Base64","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[6624,928]},{"id":"buscar-videos-prova-social","name":"Buscar Videos Prova Social","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,700],"parameters":{"method":"GET","url":"=https://ioqjhbhjzuukmssxhvma.supabase.co/rest/v1/sp3_social_proof_videos?company_id=eq.{{ $('Buscar Instancia').first().json.company_id }}&active=eq.true&select=id,titulo,descricao,contexto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"},{"name":"Authorization","value":"Bearer sb_publishable_BXmr9LLM_NDS94Y05ic8og_kFYcRsVU"}]},"options":{}},"onError":"continueRegularOutput"},{"id":"tool-enviar-video","name":"Enviar Video Prova Social","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[400,800],"parameters":{"description":"Envia um video de prova social ou depoimento de cliente satisfeito para o lead via WhatsApp. Use quando o lead estiver hesitante, pedir referencias, ou estiver na fase de decisao. Passe o video_id (numero inteiro) da lista de videos disponiveis no system prompt.","source":"database","workflowId":{"__rl":true,"mode":"list","value":"k4yzpHwE3A4p3XoO","cachedResultName":"Tool: Enviar Video Prova Social"},"workflowInputs":{"mappingMode":"defineBelow","value":{"video_id":"={{ $fromAI('video_id', 'ID inteiro do video de prova social da lista disponivel', 'number') }}","telefone":"={{ $('Dados Lead').first().json.Telefone }}","company_id":"={{ $('Buscar Instancia').first().json.company_id }}","evo_api_url":"={{ $('Buscar Instancia').first().json.evo_api_url }}","instance_name":"={{ $('Buscar Instancia').first().json.instance_name }}"},"schema":[{"id":"video_id","type":"number","display":true,"required":true,"displayName":"video_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"telefone","type":"string","display":true,"required":true,"displayName":"telefone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"company_id","type":"string","display":true,"required":true,"displayName":"company_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"evo_api_url","type":"string","display":true,"required":true,"displayName":"evo_api_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"instance_name","type":"string","display":true,"required":true,"displayName":"instance_name","defaultMatch":false,"canBeUsedToMatch":true}],"matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}}},{"id":"mesclar-obs-node","name":"Mesclar Observações","type":"n8n-nodes-base.code","typeVersion":2,"position":[5376,1456],"parameters":{"jsCode":"// Observações existentes do lead\nconst obsExistentes = $('Merge').first().json.observacoes || '';\n// Novas observações extraídas pela LLM\nconst obsNovas = $json.output.observacoes || '';\n\nlet resultado;\n\nif (!obsExistentes) {\n  resultado = obsNovas;\n} else if (!obsNovas) {\n  resultado = obsExistentes;\n} else {\n  resultado = (obsExistentes.trim() + '\\n' + obsNovas.trim()).substring(0, 1000);\n}\n\nreturn [{ json: { observacoes_final: resultado } }];"}},{"id":"horario-comercial-check","name":"Horario Comercial?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1250,1056],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"hour-gte-start","leftValue":"={{ $now.setZone('America/Sao_Paulo').hour * 60 + $now.setZone('America/Sao_Paulo').minute }}","rightValue":"={{ parseInt($('Buscar Config Horário').first().json.start_time.split(':')[0]) * 60 + parseInt($('Buscar Config Horário').first().json.start_time.split(':')[1]) }}","operator":{"type":"number","operation":"gte"}},{"id":"hour-lt-end","leftValue":"={{ $now.setZone('America/Sao_Paulo').hour * 60 + $now.setZone('America/Sao_Paulo').minute }}","rightValue":"={{ parseInt($('Buscar Config Horário').first().json.end_time.split(':')[0]) * 60 + parseInt($('Buscar Config Horário').first().json.end_time.split(':')[1]) }}","operator":{"type":"number","operation":"lt"}},{"id":"weekday-active","leftValue":"={{ $('Buscar Config Horário').first().json.active_days.includes($now.setZone('America/Sao_Paulo').weekday % 7) }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"check-flag-fora-horario","name":"Check Flag Fora Horario","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1250,1350],"parameters":{"operation":"get","propertyName":"offhoursFlag","key":"={{ $('Dados Lead').first().json.Telefone }}_offhours","keyType":"string","options":{}},"credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}}},{"id":"ja-notificou-fora-horario","name":"Ja Notificou Fora Horario?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,1350],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"flag-exists","leftValue":"={{ $json.offhoursFlag }}","rightValue":"","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"options":{}}},{"id":"enviar-aviso-fora-horario","name":"Enviar Aviso Fora Horario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1750,1500],"parameters":{"method":"POST","url":"={{ $('Buscar Instancia').first().json.evo_api_url }}/message/sendText/{{ $('Buscar Instancia').first().json.instance_name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados Lead').first().json.Telefone }}"},{"name":"text","value":"={{ $('Buscar Config Horário').first().json.out_of_hours_message }}"},{"name":"delay","value":"3000"}]},"options":{}},"credentials":{"httpHeaderAuth":{"id":"lm3lTu0WoowRIHHa","name":"SP3CHAT - EVOLUTION API"}}},{"id":"salvar-aviso-fora-horario","name":"Salvar Aviso Fora Horario","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2000,1500],"parameters":{"operation":"create","tableId":"n8n_chat_histories","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('Dados Lead').first().json.Telefone }}"},{"fieldId":"message","fieldValue":"={{ JSON.stringify({type: 'ai', content: $('Buscar Config Horário').first().json.out_of_hours_message || 'Mensagem fora do horário enviada'}) }}"},{"fieldId":"company_id","fieldValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}},{"id":"marcar-notificado-redis","name":"Marcar Notificado Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2250,1500],"parameters":{"operation":"set","key":"={{ $('Dados Lead').first().json.Telefone }}_offhours","value":"1","keyType":"string","expire":true,"ttl":43200},"credentials":{"redis":{"id":"wJvC7INWZm3yKXBM","name":"Sp3chat"}}},{"id":"calcular-proximo-horario","name":"Calcular Proximo Horario","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,1350],"parameters":{"jsCode":"const config = $('Buscar Config Horário').first().json;\nconst activeDays = config.active_days || [1,2,3,4,5];\nconst [startHour, startMin] = (config.start_time || '08:00').split(':').map(Number);\n\nconst now = DateTime.now().setZone('America/Sao_Paulo');\nlet target;\n\nif (now.hour < startHour || (now.hour === startHour && now.minute < startMin)) {\n  target = now.set({ hour: startHour, minute: startMin + 5, second: 0, millisecond: 0 });\n} else {\n  target = now.plus({ days: 1 }).set({ hour: startHour, minute: startMin + 5, second: 0, millisecond: 0 });\n}\n\n// Converter Luxon weekday (1=Seg..7=Dom) para nosso formato (0=Dom..6=Sab)\nconst luxonToOurs = (wd) => wd === 7 ? 0 : wd;\nlet safety = 0;\nwhile (!activeDays.includes(luxonToOurs(target.weekday)) && safety < 8) {\n  target = target.plus({ days: 1 });\n  safety++;\n}\n\nreturn $input.all().map(item => ({\n  json: { ...item.json, waitUntil: target.toISO() }\n}));"}},{"id":"esperar-horario-comercial","name":"Esperar Horario Comercial","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2750,1350],"parameters":{"resume":"specificTime","dateTime":"={{ $json.waitUntil }}"}},{"id":"134e90e2-9e4c-46cd-a6d8-98f9c6e60c11","name":"Buscar Instancia","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-848,1088],"parameters":{"operation":"getAll","tableId":"sp3_instances","returnAll":false,"limit":1,"filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"instance_name","condition":"eq","keyValue":"={{ $json.body.instance }}"}]}},"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}},"alwaysOutputData":true},{"id":"buscar-config-horario","name":"Buscar Config Horário","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,1280],"parameters":{"operation":"getAll","tableId":"sp3_followup_settings","returnAll":false,"limit":1,"filterType":"manual","matchType":"anyFilter","filters":{"conditions":[{"keyName":"company_id","condition":"eq","keyValue":"={{ $('Buscar Instancia').first().json.company_id }}"}]}},"credentials":{"supabaseApi":{"id":"DsTq5kkfhqj2VdXo","name":"SP3CHAT"}}}],"connections":{"Gatilho":{"main":[[{"node":"Buscar Instancia","type":"main","index":0}]]},"Dados Lead":{"main":[[{"node":"Ativar ou desativar ia","type":"main","index":0}]]},"Encontrar Cliente":{"main":[[{"node":"Cliente existe?","type":"main","index":0}]]},"Cliente existe?":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Criar Cliente","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Agente IA","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente IA","type":"ai_languageModel","index":0}]]},"Calculadora":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Agente IA":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Enviar Mensagem":{"main":[[{"node":"Salvar Resposta da Sarah","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente IA","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"Redis Buffer2","type":"main","index":0}]]},"Redis Buffer1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis Buffer2":{"main":[[{"node":"Comparando Lista Mensagens","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Mensagem Texto1":{"main":[[{"node":"Redis Buffer Texto","type":"main","index":0}]]},"Redis Buffer Texto":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Mensagem Texto2":{"main":[[{"node":"Redis Buffer Texto","type":"main","index":0}]]},"Mensagem Erro":{"main":[[{"node":"Redis Buffer Erro","type":"main","index":0}]]},"Redis Buffer Erro":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Mensagem Audio":{"main":[[{"node":"Converso de Audio","type":"main","index":0}]]},"Redis Buffer Audio":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Converso de Audio":{"main":[[{"node":"Transcrever Audio","type":"main","index":0}]]},"Transcrever Audio":{"main":[[{"node":"Redis Buffer Audio","type":"main","index":0}]]},"Mensagem Imagem":{"main":[[{"node":"Converso Imagem","type":"main","index":0}]]},"Converso Imagem":{"main":[[{"node":"Analisar Imagem","type":"main","index":0}]]},"Analisar Imagem":{"main":[[{"node":"Redis Buffer Imagem","type":"main","index":0}]]},"Redis Buffer Imagem":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Mensagem pdf":{"main":[[{"node":"Converso pdf","type":"main","index":0}]]},"Converso pdf":{"main":[[{"node":"Extrator pdf","type":"main","index":0}]]},"Extrator pdf":{"main":[[{"node":"Redis Buffer pdf","type":"main","index":0}]]},"Redis Buffer pdf":{"main":[[{"node":"Redis Buffer1","type":"main","index":0}]]},"Comparando Lista Mensagens":{"main":[[{"node":"Redis1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Rotas de Mensagens":{"main":[[{"node":"Mensagem Texto1","type":"main","index":0}],[{"node":"Mensagem Texto2","type":"main","index":0}],[{"node":"Mensagem Audio","type":"main","index":0}],[{"node":"Mensagem Imagem","type":"main","index":0}],[{"node":"Mensagem pdf","type":"main","index":0}],[{"node":"Mensagem Erro","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Encontrar Cliente","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Verificar Observações","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Desativar Agente":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Redis":{"main":[[{"node":"Bot Desativado?!","type":"main","index":0}]]},"Bot Desativado?!":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Horario Comercial?","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Claim Due Followups","type":"main","index":0}]]},"Claim Due Followups":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Load Followup Settings","type":"main","index":0}]]},"Load Followup Settings":{"main":[[{"node":"Build Followup Text","type":"main","index":0}]]},"Build Followup Text":{"main":[[{"node":"Agente IA1","type":"main","index":0}]]},"Enviar Mensagem1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Update Followup State","type":"main","index":0}],[{"node":"Enviar Mensagem1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Agente IA1","type":"ai_languageModel","index":0}]]},"Calculadora1":{"ai_tool":[[{"node":"Agente IA1","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Agente IA1","type":"ai_memory","index":0}]]},"Desativar Agente1":{"ai_tool":[[{"node":"Agente IA1","type":"ai_tool","index":0}]]},"Agente IA1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Update Followup State":{"main":[[{"node":"Fim1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagens do celular","type":"main","index":0}],[{"node":"Salvar Mensagem Cliente (human)","type":"main","index":0}]]},"Ativar ou desativar ia":{"main":[[{"node":"IA ligada?","type":"main","index":0}]]},"Salvar Mensagem Cliente (human)":{"main":[[{"node":"Reset Followup","type":"main","index":0}]]},"IA ligada?":{"main":[[{"node":"Redis","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Salvar Resposta da Sarah":{"main":[[{"node":"Marcar Saida IA","type":"main","index":0}]]},"Sortear Áudio":{"main":[[{"node":"Gerar Áudio ElevenLabs","type":"main","index":0}],[{"node":"Enviar Mensagem","type":"main","index":0}]]},"Enviar Áudio Evolution":{"main":[[{"node":"Texto p/ Salvar Áudio","type":"main","index":0}]]},"Texto p/ Salvar Áudio":{"main":[[{"node":"Salvar Resposta da Sarah","type":"main","index":0}]]},"Reset Followup":{"main":[[{"node":"Dados Lead","type":"main","index":0}]]},"Marcar Saida IA":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Parametros do Fluxo":{"main":[[{"node":"Buscar Prompt IA","type":"main","index":0},{"node":"Buscar Videos Prova Social","type":"main","index":0}]]},"Buscar Prompt IA":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Gerar Áudio ElevenLabs":{"main":[[{"node":"Converter Audio Base64","type":"main","index":0}]]},"Converter Audio Base64":{"main":[[{"node":"Enviar Áudio Evolution","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Sortear Áudio","type":"main","index":0}]]},"Enviar Video Prova Social":{"ai_tool":[[{"node":"Agente IA","type":"ai_tool","index":0}]]},"Verificar Observações":{"main":[[{"node":"Mesclar Observações","type":"main","index":0}]]},"Mesclar Observações":{"main":[[{"node":"Salvar Observações Lead","type":"main","index":0}]]},"Horario Comercial?":{"main":[[{"node":"Rotas de Mensagens","type":"main","index":0}],[{"node":"Check Flag Fora Horario","type":"main","index":0}]]},"Check Flag Fora Horario":{"main":[[{"node":"Ja Notificou Fora Horario?","type":"main","index":0}]]},"Ja Notificou Fora Horario?":{"main":[[{"node":"Calcular Proximo Horario","type":"main","index":0}],[{"node":"Enviar Aviso Fora Horario","type":"main","index":0}]]},"Enviar Aviso Fora Horario":{"main":[[{"node":"Salvar Aviso Fora Horario","type":"main","index":0}]]},"Salvar Aviso Fora Horario":{"main":[[{"node":"Marcar Notificado Redis","type":"main","index":0}]]},"Marcar Notificado Redis":{"main":[[{"node":"Calcular Proximo Horario","type":"main","index":0}]]},"Calcular Proximo Horario":{"main":[[{"node":"Esperar Horario Comercial","type":"main","index":0}]]},"Esperar Horario Comercial":{"main":[[{"node":"Rotas de Mensagens","type":"main","index":0}]]},"Buscar Instancia":{"main":[[{"node":"Parametros do Fluxo","type":"main","index":0},{"node":"Filtro de Bloqueio","type":"main","index":0},{"node":"Buscar Config Horário","type":"main","index":0}]]}},"authors":"Juan Lourenco","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-01T12:40:56.493Z","id":544,"workflowId":"aFNGsz4pDkLMYP5m","versionId":"1f38966b-a49f-4806-9ff4-b053f1e6508b","event":"deactivated","userId":"a3fb51d9-8cda-45ed-bf45-38e29676ee11"},{"createdAt":"2026-03-01T12:40:56.554Z","id":545,"workflowId":"aFNGsz4pDkLMYP5m","versionId":"1f38966b-a49f-4806-9ff4-b053f1e6508b","event":"activated","userId":"a3fb51d9-8cda-45ed-bf45-38e29676ee11"}]}}